/* overwrite shared */
.full-section{
  max-height:unset;
}

/* hero */
#hero.full-section{
  height:calc(100vh - 140px);
  min-height:0;
}
#hero h1{
  margin-bottom:40px;
  font-size:24px;
}
#hero .button-container{
  margin-top:40px;
}

.hero-content{
  position:relative;
}
.hero-content > :not(.graphic-container){
  z-index:2;
  position:relative;
}
#hero .graphic-container{
  position:absolute;
  max-width:800px;
  right:0;
  top:-200px;
}
#hero .code-text{
  opacity:.35;
  color: #0A8C61;
  margin-bottom:20px;
}
.terrabyte-earth-graphic{
  width: 100%;
  max-width: 200px;
  position: absolute;
  top:-30px;
  right:0;
}

/* our story */
@media only screen and (min-width: 930px){
  .standard-link.read-more-trigger{
    display:none;
  }
}

/* the team */
#the-team{
  /* max-height:unset; */
}
.team-row{
  margin-bottom:50px;
}
.team-row:last-child{
  margin-bottom:0px;
}

.team-avatar{
  margin-right:30px;
  width:150px;
  height:150px;
  border-radius:50%;
  background-size:cover;
  /* background-color: currentColor; */
}

.team-row-name{
  margin-bottom:5px;
}
.team-links{
  margin-bottom:20px;
}
.team-link{
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.team-link:last-child{
  margin-right: 0px;
}

/* avatars */
#sammyharper-row .team-avatar{
  background-image:url(../img/team-avatars/sammy-harper-crop.jpg);
}
#ashleyflorer-row .team-avatar{
  background-image:url(../img/team-avatars/ashley-florer-crop.jpg);
}
#pablomorales-row .team-avatar{
  background-image:url(../img/team-avatars/pablo-morales-crop.jpg);
}
#mikaylabiggers-row .team-avatar{
  background-image:url(../img/team-avatars/mikayla-biggers-crop.jpg);
}


#our-org .section-col:last-child{
  padding-left:50px
}
/* UN SDGs */
.sdg-container{
  border:2px solid currentColor;
  border-radius:2px;
  width:125px;
  height:125px;
  transition:.35s;
  margin-bottom:10px;
}
.sdg-container:hover{
  background-color:#0A8C61;
}
.sdg-container:active{
  background-color:rgba(10, 140, 97,.45);
}

.checkbox-row{
  margin-bottom:10px;
}
.checkbox-container{
  width:20px;
  height:20px;
  margin-right:20px;
  border:2px solid currentColor;
  border-radius: 2px;
}
.checkbox-container svg{
  display:none;
}
/* checked checkbox */
.checked.checkbox-container{
  background-color:#0A8C61;
}
.checked.checkbox-container svg{
  display:block;
}

/* responsive styles */
/* weird desktop hero styles */
@media only screen and (max-height: 650px){
  .terrabyte-earth-graphic{
    display:none;
  }
}
@media only screen and (max-height: 820px) and (max-width:880px){
  .terrabyte-earth-graphic{
    display:none;
  }
}
@media only screen and (max-height: 750px){
  #hero .graphic-container{
    top:-150px;
  }
}
@media only screen and (max-width: 600px){
  #hero .code-text.text-right{
    text-align:center;
    z-index:1;
  }
}
@media only screen and (max-width: 600px){
  #hero .graphic-container{
    top: 50%;
    width: 80%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}
@media only screen and (max-width: 400px){
  #hero .code-text.text-right{
    /* display:none; */
  }
}


/* tablet */
@media only screen and (max-width: 930px){
  #our-org .section-col:last-child{
    padding-left:0px;
  }
  .read-more-trigger{
    display:inline-block;
  }
  .read-more-content{
    display:none;
  }
  .show.read-more-content{
    display:inline;
  }
  .hide.read-more-trigger{
    display:none;
  }
}

/* mobile */
@media only screen and (max-width: 600px){
  .sdg-container{
    width:100px;
    height:100px;
  }
  .team-row{
    flex-wrap: wrap;
  }
  .team-avatar{
    margin-right:0;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 500px){
  #sdg-col .col-content{
    /* display:none; */
  }
}
