/* ************** */
#hero.full-section{
  height:calc(100vh - 140px);
  min-height:0;
}
/* hero, left col (illustration) */
.a-mountain-logo{
  width:100%;
  max-width:200px;
  position:absolute;
}
.hero-code-container{}
.hero-code-container .code-text{
  opacity:.35;
  color: #0A8C61;
  margin-bottom:20px;
}
.hero-code-container .code-text:last-child{
  margin-bottom:0px;
}
/* hero, right col (text) */
#hero .text-col{
  width:100%;
  max-width:435px;
}
#hero h1{
  margin-bottom:40px;
  font-size:24px;
}
.button-container{
  margin-top:40px;
}
/* ********* */


/* about us, venn diagram */
.venn-container{
  position:relative;
  margin: 35px 0;
  border: 50px solid transparent;
}
.venn-circle{
  position:absolute;
  width:250px;
  height:250px;
  border-radius:50%;
  background-color:rgba(10, 140, 97,.33);
  top:0;
  left:0;
}
#venn-guide-circle{
  position:relative;
  background-color:transparent;
  border:none;
}
#venn-circle-1{
  transform:translateY(-33.33%);
}
#venn-circle-2{
  transform:translate(-33.33%, 33.33%);
}
#venn-circle-3{
  transform:translate(33.33%, 33.33%);
}
.venn-circle-label{
  position:relative;
  margin-top:10px;
}
.venn-logo{
  width:30px;
  height:30px;
  margin-top:35px;
}
/* ********* */


/* projects */
.col-img{
  width:100%;
  max-width:300px;
  min-height:200px;
  background-repeat: no-repeat;
  background-position:center;
  background-size:contain;
  margin:0 auto 20px auto;
}
#pixel-planet-today-img{
  /* background-image:url("../img/pixel-planet-lettering-tight-crop.png"); */
  background-image:url("../img/pixel-planet-lettering-tight-crop.webp");
}
#pinekeepers-img{
  /* background-image:url("../img/pine-keepers-title-image-trans.png"); */
  background-image:url("../img/pine-keepers-title-image-trans.webp");
}
#canapi-img{
  /* background-image:url("../img/canapi-code-logo-cropped-white-trans.png"); */
  background-image:url("../img/canapi-code-logo-cropped-white-trans.webp");
}
#wasted-space-img{
  /* background-image:url("../img/wasted-space-logo-title-white-large.png"); */
  background-image:url("../img/wasted-space-logo-title-white-large.webp");
}
@media only screen and (max-width:800px){
  .col-img{
    width:300px;
    margin-bottom:0px;
  }
  #projects .col-content, #projects .col-footer {
    display: none;
  }
}

/* ************* */

/* social proof */
.social-proof-col-container{
  flex-wrap: wrap;
  max-width: 765px;
  /* padding:40px 0; */
}
.social-proof-section{
  margin-bottom:100px;
}
.social-proof-section + .button-container{
  margin-top:0px;
}
.social-proof-col{
  margin:10px 15px;
}
.social-proof-img{
  /* width:90px; */
  width:120px;
  height:90px;
  background-repeat: no-repeat;
  background-position:center;
  background-size:contain;
  /* margin:0 auto 20px auto; */
}
.partner-img{
  width:225px;
  height:100px;
  background-repeat: no-repeat;
  background-position:center;
  background-size:contain;
}
/* partners */
#carbonii-img{
  /* for better sizing with other partner logos */
  /* border:30px solid transparent; */
  background-image:url("../img/social-proof/carbonii-logo-white.webp");
}
#wrd-img{
  /* convert this! */
  background-image:url("../img/social-proof/wrd-logo-white.webp");
}
#goc-img{
    /* for better sizing with other partner logos */
  border:5px solid transparent;
  /* convert this! */
  background-image:url("../img/social-proof/goc-logo-white.webp");
}
#tbep-img{
  background-image:url("../img/social-proof/tbep-logo-white.webp");
}
#pfj-img{
  background-image:url("../img/social-proof/pfj-logo-white.webp");
}
#eco-earth-market-img{
  background-image:url("../img/social-proof/eco-earth-market-logo-white.webp");
}
#the-climate-issue-img{
  background-image:url("../img/social-proof/the-climate-issue-logo-white.webp");
}
#earth-hacks-img{
  background-image:url("../img/social-proof/earth-hacks-logo-white.webp");
}
#ecta-img{
  background-image:url("../img/social-proof/ecta-logo-white.webp");
}
#eco-earth-market-img{
  background-image:url("../img/social-proof/eco-earth-market-logo-white.webp");
}
#wherefrom-img{
  background-image:url("../img/social-proof/wherefrom-logo-white.webp");
}
#humans-for-earth-img{
  background-image:url("../img/social-proof/humans-for-earth-logo-white.webp");
}
#pixel-art-mag-img{
  background-image:url("../img/social-proof/pixel-art-mag-logo-white.webp");
}
#skillsusa-neb-img{
  background-image:url("../img/social-proof/skillsusa-neb-logo-white.webp");
}

/* faqs */
.accordion-col.section-col{
  /* margin-bottom:50px; */
}
.ques-item-container .icon{
  width:50px;
  height:50px;
  margin-right:35px;
}
.ques-item-container{
  transition:.25s;
  margin-bottom:20px;
}
@media (hover: hover) and (pointer: fine) {
  .ques-item-container:hover{
    color:rgba(10, 140, 97,1);
  }
}
.ques-item-container:active{
  color:rgba(10, 140, 97,.45);
}
.ques-icon-container:last-child{
  /* margin-right:0; */
}

/* press */
/* more styles specific to the link are in site-styles.css */
.press-cards-container.col-content{
  max-height: 800px;
  overflow-y: auto;
}
a.press-card{
  /* width:300px; */
  /* margin-bottom:10px; */
  /* margin-right:10px; */
}
a.press-card:last-child{
  /* margin-right:0; */
}
.card-title{
  margin-bottom:10px;
}
.card-caption{
  margin-bottom:20px;
}
/* ************* */



/* ************* */
/* responsive styles */
@media only screen and (max-width:930px){
  #hero .a-mountain-logo{
    display:none;
  }
  #hero .text-col{
    position:absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
  }

  #faqs .accordion-col.section-col{
    margin-bottom:100px;
  }
  #faqs .accordion-item-content{
    padding:20px;
  }
}
@media only screen and (max-width: 800px){
  #faqs .icons-container{
    /* justify-content:space-between; */
  }
  .press-cards-container.col-content{
    max-height: unset;
    overflow-y:visible;
  }
}
@media only screen and (max-width: 600px){
  #hero .code-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    word-wrap: break-word;
  }
  a.press-card{
    display:flex;
  }
  .press-card .card-title{
    flex:auto;
    width:100%;
  }
  #faqs .socials-container{
    display:flex;
    justify-content:space-around;
  }
  .ques-item-container .icon{
    margin-right:0px;
  }
}

@media only screen and (max-width: 440px){
  .social-proof-col{
    margin:20px 15px;
  }
}

/* loading container items */
/* responsive */
@media only screen and (max-width: 800px){
  .mastofeed-container.col-content{
    height:70vh;
    min-height:300px;
  }
}