---
subtitle: You are now subscribed to <little-bytes>
layout: layouts/project-base.njk
keywords: newsletter, sign-up, signup, form, quarterly
---

<section id="subscribed" class="padded-section">
  <div class="max-width" data-au="flex-container flex-vertical medium-gap">
    <div class="section-header">
      <h1>You are now subscribed to <span class="little-bytes-text highlight-container">&lt;little-bytes&gt;</span></h1>
    </div>
    
    <div class="section-content" data-au="flex-container flex-vertical small-gap">
      <p>Thank you for subscribing to our newsletter, &lt;little-bytes&gt;! You are now on track to receive quarterly updates on Pixel Planet Today, Wasted Space, and the business in general - all sent straight to your inbox.</p>

      <p>You should be receiving an email from us shortly to confirm your subscription. In order to ensure you see future newsletters in your inbox, we recommend adding the email address <b>(terrabyte [at] buttondown.email)</b> to your trusted contacts or marking it as 'Not Spam'.</p>
      
      <p>Want to see past newsletters? Visit the <a class="text-link" href="https://buttondown.email/terrabyte/archive" target="_blank" aria-label="newsletter archive (opens in new window)">archive</a>.</p>
    </div>
  </div>
</section>