---
subtitle: You have unsubscribed from <little-bytes>
layout: layouts/project-base.njk
keywords: newsletter, sign-up, signup, form, quarterly
noIndex: true
---

<section id="unsubscribed" class="padded-section">
  <div class="max-width" data-au="flex-container flex-vertical medium-gap">
    <div class="section-header">
      <h1>You have unsubscribed from <span class="little-bytes-text highlight-container">&lt;little-bytes&gt;</span></h1>
    </div>
    
    <div class="section-content" data-au="flex-container flex-vertical small-gap">
      <p>You will no longer receive quarterly updates on Pixel Planet Today, Wasted Space, or other things we're up to.</p>
      <p>We hate to see you go, but we'd love to hear from you. Feel free to reach out to us about why you unsubscribed on our socials, or by emailing us at <a class="text-link" data-obfu-email href="" aria-label="Email Terrabyte"><span data-obfu-email-text></span></a></p>
    </div>

  </div>
</section>