<!DOCTYPE html>
<html lang="en">
<head>

{% include "partials/inspector-splash.njk" %}

<!--------->
<!-- metadata -->
<!--------->

  <!-- site data now usable to DOM -->
  <script>
    window.siteData = {{ site | dump | safe }};
  </script>

  <!-- index? -->
  {# add variable to nunjucks templates that shouldn't be indexed in frontmatter; noIndex: true #}
  {% if noIndex %}
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
  {% endif %}

  <link rel="canonical" href="{{ page.url | canonicalUrl }}">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ site.title }}{% if subtitle %}: {{ subtitle }}{% endif %}</title>

  <meta name="description" content="{% if subdescription %}{{ subdescription }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="{{ site.author }}">
  <meta name="keywords" content="{{ keywords }}">

  {# if applicable/desired (default: TB green) #}
  <meta name="theme-color" content="{{ site.accentColor | default('#0A8C61') }}">

  {# Open Graph meta tags for social media sharing #}

  {# Open Graph meta tags #}
  <meta property="og:title" content="{{ site.title }}{% if subtitle %}: {{ subtitle }}{% endif %}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:description" content="{% if subdescription %}{{ subdescription }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:image" content="img/meta/og-image.png">

  {# favicons #}
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">

<!--------->
<!-- css -->
<!--------->

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="{{ site.fontsRel }}" rel="stylesheet">

  <!-- icons -->
  {% if site.iconsRel %}
    <script src="{{ site.iconsRel }}"></script>
  {% endif %}

  <!-- frameworks -->
  <link rel="stylesheet" type="text/css" href="https://au.goldenharpmedia.com/framework/packages/v1.0/au.css">

  <!-- shared Terrabyte styles -->
  {# <link rel="stylesheet" href="https://www.terrabyte.eco/css/shared-org-styles.css"> #}
  <link rel="stylesheet" href="/css/global-tb-styles.css">
  <link rel="stylesheet" href="/css/global-tb-ui-styles.css">

  <!-- shared styles for site groupings -->
  <!-- shared pixel art styles -->
  {% if site.styleType == "pixel" %}
    <link rel="stylesheet" href="/css/shared-pixel-styles.css">
  {% endif %}

  <!-- shared project styles for {{ site.project }}; if applicable to that project -->
  {% if site.project == "Canapi" %}
    <link rel="stylesheet" href="/css/shared-canapi-styles.css">
  {% endif %}

  <!-- site styles -->
  <link rel="stylesheet" href="/css/site-styles.css" async defer>
  <link rel="stylesheet" href="/css/header-styles.css" async defer>
  <link rel="stylesheet" href="/css/footer-styles.css" async defer>

  <!-- page styles -->
  {% if pageStyles %}
    <link rel="stylesheet" href="/css/{{ pageStyles }}.css" async defer>
  {% endif %}


  {# other conditional styles #}
  {% if textPage %}
    <link href="/css/text-page-styles.css" rel="stylesheet" type="text/css" />
  {% else %}
    {# <link href="/css/other-styles.css" rel="stylesheet" type="text/css" /> #}
  {% endif %}

<!--------->
<!-- js -->
<!--------->

  <!-- schema -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "{{ site.schemaType | default('Thing') }}",
      "name": "{{ site.project }}",
      "url": "{{ site.url }}",
      "logo": "{{ site.url }}/img/meta/logo.png",
      "description": "{% if subdescription %}{{ subdescription }}{% else %}{{ site.description }}{% endif %}",
      "sameAs": [
        "https://instagram.com/terrabyte_tech",
        "https://mastodon.eco/@terrabyte",
        "https://app.wedonthavetime.org/profile/Terrabyte",
        "https://www.linkedin.com/company/terrabyte-tech/",
        "https://www.youtube.com/@TerrabyteEco",
        "https://profiles.eco/terrabyte",
        "https://github.com/terrabyte-tech",
        "https://patreon.com/terrabyte_tech"
      ]
    }
  </script>

  {% include "partials/load-transition.njk" %}

  <!-- shared Terrabyte scripts -->
  {# <script src="https://www.terrabyte.eco/js/shared-scripts.js"></script> #}
  <script src="/js/global-tb-scripts.js" async defer></script>

  <!-- site scripts -->
  <script src="/js/site-scripts.js" async defer></script>
  <script src="/js/header-scripts.js" async defer></script>

<!--------->
<!-- analytics & APIs -->
<!--------->

  <!-- microanalytics -->
  <script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>

  <!-- canapi -->
  {% if site.canapiKey %}
    <script type="text/javascript" data-canapi-init data-host="https://app.canapi.io" src="https://app.canapi.io/canapi.js" defer></script>
  {% endif %}
  

</head>
<body data-theme="dark">

{# ########## #}
{# dependencies #}
{# ########## #}

  {# svg container component #}
  {% include "partials/svgs.njk" %}

{# ########## #}
{# sys ui #}
{# ########## #}

  {# modals (not supported atm...) #}
  {# {% include "modals.njk" %} #}

  {# accessibility/screen reader TOC #}
  {# handled as .eleventy.js transform #}

  {# noscript banner component #}
  {% include "partials/banners.njk" %}

{# ########## #}
{# page begins #}
{# ########## #}

  <a name="top"></a>
  {% if site.project == "Pixel Planet Today" %}
    {% include "partials/ppt-header.njk" %}
  {% else %}
    {% include "partials/header.njk" %}
  {% endif %}

  <main>
    {{ content | safe }}
  </main>

  <a name="footer"></a>
  {% if site.styleType == "pixel" %}
    {% include "partials/pixel-footer.njk" %}
  {% else %}
    {% include "partials/footer.njk" %}
  {% endif %}
</body>
</html>