{% extends "layouts/base.njk" %}

{# head overwrites #}

{# body overwrites #}
{% block header %}
  {% include "partials/project-header.njk" %}
{% endblock %}

{% block footer %}
  {% include "partials/footer.njk" %}
{% endblock %}