/* Styles unique to the links page */

/* main content section */
main{
  width:100%;
  max-width:800px;
  padding:40px 20px;
}

/* header */
header{
  text-align:center;
  margin-bottom:60px;
}
#header-img{
  /* background-image:url("../img/terrabyte-wordmark-logo-white-trans-cropped.png"); */
  background-image:url("../img/terrabyte-wordmark-logo-white-trans-cropped.webp");
  width:100%;
  max-width:300px;
  height:70px;
  display:inline-block;
  margin-bottom:10px;
}

/* top socials */
.top-social{
  width:32px;
  height:32px;
  margin-right:32px;
}
.top-social:last-child{
  margin-right:0;
}

/* link sections */
.links-section{
  margin-bottom:50px;
}
.links-section:last-child{
  /* margin-bottom:0px; */
}
.links-section .section-header{
  margin-bottom:10px;
}

/* link icons */
.icon.ext,
.icon.anchor{
  display:none;
}
.ext-link .icon.ext{
  display:block;
}
.anchor-link .icon.anchor{
  display:block;
}