---
subtitle: Accessibility Statement
layout: layouts/project-base.njk
keywords: accessibility, vision, physical, disability, policy, statement
styles: /css/text-page-styles.css
---

<section id="intro" class="padded-section">
  <div class="max-width" data-au="flex-container flex-vertical medium-gap">
    <div class="section-header" data-au="flex-container flex-vertical small-gap">
      {# breadcrumb #}
      <div data-au="flex-container">
        <a class="set-width large-link subtext" href="/legal" data-au="flex-container flex-horizontal xsmall-gap align-center">
          <div class="icon-container">
            <svg class="icon" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
              <use href="#chevron-left-icon"></use>
            </svg>
          </div>
          <span>Back to Legal Center</span>
        </a>
      </div>

      <h1>
        <span class="highlight-container">Accessibility Statement</span>
      </h1>
      <em class="subtext">(Last updated on June 9th, 2026)</em>
    </div>
    
    <div class="section-content" data-au="flex-container flex-vertical small-gap">
      <p>'Accessibility' is one of Terrabyte's core values in our mission to bring environmentalism to everyday folks. We pride ourselves on creating great experiences for everyone, no matter their abilities.</p>
      <p>However, in being an early-stage startup made up entirely of volunteers working in a range of art mediums - we acknowledge some products may not be fully accessible. We research and implement accessibility best practices in all of our products, yet issues stemming from real-world use cases have been known to slip through.</p>
      <p>We heavily rely on user feedback to fix the largest of these issues and greatly appreciate the community's input to continue making our products more accessible. If you found an issue and would be willing to take a moment to report it, please fill out <a class="text-link" target="_blank" href="https://forms.gle/V8vFB11SNLepcVEp8">this form,</a>email us at <a class="text-link" data-obfu-email href="?subject=I%20found%20a%20Terrabyte%20accessibility%20issue!"><span data-obfu-email-text></span></a>, or, if you're technically inclined, create an issue directly on <a class="text-link" href="https://github.com/terrabyte-tech" target="_blank">GitHub</a>.</p>
    </div>
  </div>
</section>

<section id="web-accessibility" class="padded-section">
  <div class="max-width" data-au="flex-container flex-vertical medium-gap">
    <div class="section-header">
      <h2>
        <span class="highlight-container">Web accessibility</span>
      </h2>
    </div>
    <div class="section-content" data-au="flex-container flex-vertical small-gap">
      <p>We strive to meet all of the World Wide Web Consortium's Web Content Accessibility guidelines (WCAG) AA standards, while aiming to hit their higher AAA standards.</p>
      <p>Grading web accessibility can be hard, but web tools and audits like <a class="text-link" target="_blank" href="https://accessibe.com/">accessiBe</a> and <a class="text-link" target="_blank" href="https://ecograder.com/">Ecograder</a> distill various aspects into easy-to-read scorecards. These tools grade a web address for categories such as contrast, navigation, and contextual labels. We use these technologies to ensure our websites feature:</p>
      <ul>
        <li>Sufficient contrast ratios between foreground and background objects</li>
        <li>Page navigation by keyboard</li>
        <li>Alternate text for images, icons, and links</li>
        <li>Labels for forms, buttons, and other interactive elements</li>
      </ul>
    </div>
  </div>
</section>

<section id="physical-accessibility" class="padded-section">
  <div class="max-width" data-au="flex-container flex-vertical medium-gap">
    <div class="section-header">
      <h2>
        <span class="highlight-container">Physical accessibility</span>
      </h2>
    </div>
    <div class="section-content" data-au="flex-container flex-vertical small-gap">
      <p>While our projects are largely digital in nature, related areas like merchandise, pop-up experiences, and event spaces have physical accessibility considerations. By our request, events we participate in must provide wheelchair ramps and accessible restrooms for those that need them. We also request event hosts to support accessibility needs and questions as they may arise.</p>
    </div>
  </div>
</section>
  
<section id="how-to-contact" class="padded-section">
  <div class="max-width" data-au="flex-container flex-vertical medium-gap">
    <div class="section-header">
      <h2>
        <span class="highlight-container">Wait, I'm having issues!</span>
      </h2>
    </div>
    
    <div class="section-content" data-au="flex-container flex-vertical small-gap">
      <p>Found something that needs our attention? Whether it's with this website, one of our project websites, or something else, please let us know by filling out <a class="text-link" target="_blank" href="https://forms.gle/V8vFB11SNLepcVEp8">this form</a>. If you're technically inclined, you can also report an issue directly on <a class="text-link" href="https://github.com/terrabyte-tech" target="_blank">GitHub</a>.</p>
      <p>If you still have questions or concerns, please contact us at <a class="text-link" data-obfu-email href="?subject=Terrabyte%20Accessibility%20Inquiry"><span data-obfu-email-text></span></a>.</p>
    </div>
  </div>
</section>