---
subtitle: AI Statement
layout: layouts/project-base.njk
keywords: AI, artificial intelligence, green AI, sustainability, policy, statement
styles: /css/text-page-styles.css
---

<section id="ai" class="padded-section">
  <div class="max-width" data-au="flex-container flex-vertical large-gap">
    <div class="section-header" data-au="flex-container flex-vertical small-gap">
      {# breadcrumb #}
      <a class="large-link subtext" href="/legal" data-au="flex-container flex-horizontal xsmall-gap align-center">
        <div class="icon-container">
          <svg class="icon" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
            <use href="#chevron-left-icon"></use>
          </svg>
        </div>
        <span>Back to Legal Center</span>
      </a>

      <h1>
        <span class="highlight-container">AI Statement</span>
      </h1>
    </div>
    
    <div class="section-content" data-au="flex-container flex-vertical small-gap">
      <p>Artificial intelligence (AI) is a powerful tool that has the potential to revolutionize many industries and improve our lives in countless ways. However, it also has the potential to be misused and cause harm if not developed and used responsibly. At Terrabyte, we are committed to using AI in a way that is ethical, transparent, and aligned with our values of sustainability and social responsibility.</p>
      <p>We believe that AI should be developed and used in a way that minimizes its environmental impact. This means using energy-efficient algorithms and hardware, as well as considering the lifecycle of AI systems and their potential impact on the environment. We also believe that AI should be developed and used in a way that is transparent and accountable. This means being open about how AI systems are designed and how they make decisions, as well as being willing to take responsibility for any negative consequences that may arise from their use.</p>
      <p>Being anything other than a white, straight, cis male in a world tailored to white, straight, cis men can be difficult. And since our natural world is built on diversity, it's a no-brainer for us to support diversity found in our own species. <a class="text-link" href="/about-us/#the-team">Our squad</a> is made up of a wide array of individuals - we'd be proud to welcome even more unique talent to our team.</p>
      <p>We base all hiring decisions on who is the best fit for the role, our company, and our team. A position may include required qualifications, but if the best candidate doesn't meet these requirements (education, experience, etc.), we may consider other factors.</p>
      <p>Since "equality" is now a hot-button topic, before filing a complaint about our DEI policy, please refer to <a class="text-link" href="https://thediversitymovement.com/10-most-common-objections-dei-how-to-respond/" target="_blank">this doc</a>. If you would still like to file a complaint about this policy, you may email us using the link on our website's <a class="text-link" href="/#contact">homepage</a>.</p>
    </div>
  </div>
</section>