---
subtitle: AI Statement
layout: layouts/project-base.njk
keywords: AI, artificial intelligence, green AI, sustainability, policy, statement
styles: /css/text-page-styles.css
---

<section id="intro" class="padded-section">
  <div class="max-width" data-au="flex-container flex-vertical large-gap">
    <div class="section-header" data-au="flex-container flex-vertical small-gap">
      {# breadcrumb #}
      <a class="large-link subtext" href="/legal" data-au="flex-container flex-horizontal xsmall-gap align-center">
        <div class="icon-container">
          <svg class="icon" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
            <use href="#chevron-left-icon"></use>
          </svg>
        </div>
        <span>Back to Legal Center</span>
      </a>

      <h1>
        <span class="highlight-container">AI Statement</span>
      </h1>
    </div>
    
    <div class="section-content" data-au="flex-container flex-vertical small-gap">
      <p>Artificial intelligence (AI) - whether you like it or not - is a game-changer. Just like when the Internet went mainstream, it's hard to see a future where AI is successfully pushed back into Pandora's box. It has the potential to revolutionize every industry and improve our lives in countless ways, but it also comes with real fears of mass unemployment, an expanded wealth divide, and even modern societal collapse. Combine these issues with the ecological side effects of data centers like large carbon footprints, egregious water usage, and far-from-minimal land use, and Terrabyte is squarely put between a rock and a hard place when it comes to using AI.</p>
      <p>On one hand, as a tech company, we are delighted with the possibilities of AI. Not the meme-creating, obnoxious misinformation engine it's becoming, but in being a digital Swiss-army knife. Especially when it comes to its ability to see patterns in huge datasets, build software tools with ease, and automate menial tasks - AI has the potential to bring about the death of doomscrolling, cyber-bullying, bloated tech companies, the enshittification of the Internet, inaccurate weather forecasts, clearing your inbox, even cancer and Alzheimers could become things of the past thanks to AI! As a tiny team of volunteers, this analytical super-power can help us build our projects infinitely faster, and actually <em>make</em> a difference.</p>
      <p>On the other hand, we're a sustainability-focused company. The hypocrisy of using an environmentally-destructive tool to build environmentally-beneficial products is... questionable. When NFTs hit the market (and digital artwork was selling for millions), we saw the hypocrisy and decided to keep Pixel Planet Today designs off the blockchain. We really could have used those funds to further our eco projects, but the cost (carbon footprint, brand trust, uncertain profits) didn't seem to outweigh the benefit. While AI is a tool and NFTs are a platform technology, the question remains the same: "should we use something that's proven to be bad for the environment in order to try to build products that attempt to help the environment?"</p>
      {# <p>At Terrabyte, we are committed to using AI in a way that is ethical, transparent, and aligned with our values of sustainability and social responsibility. We believe that AI should be developed and used in a way that minimizes its environmental impact. This means using energy-efficient algorithms and hardware, as well as considering the lifecycle of AI systems and their potential impact on the environment. We also believe that AI should be developed and used in a way that is transparent and accountable. This means being open about how AI systems are designed and how they make decisions, as well as being willing to take responsibility for any negative consequences that may arise from their use.</p>

      <p>Since "equality" is now a hot-button topic, before filing a complaint about our DEI policy, please refer to <a class="text-link" href="https://thediversitymovement.com/10-most-common-objections-dei-how-to-respond/" target="_blank">this doc</a>. If you would still like to file a complaint about this policy, you may email us using the link on our website's <a class="text-link" href="/#contact">homepage</a>.</p> #}
    </div>
  </div>
</section>

<section id="our-stance" class="padded-section">
  <div class="max-width" data-au="flex-container flex-vertical">
    <div class="section-content" data-au="flex-container flex-vertical small-gap">
      <p>It's with these considerations our stance has become:</p>
      <blockquote>
        <p>If it's done for good, use the tool to accomplish more good. <br class="hide-on-mobile">If it's not (or even for neutral outcomes), don't use it.</p>
      </blockquote>
      <p>This stance will likely change as the technology evolves, but for now, we would describe our relationship with AI as a "cautious embrace." The technology itself, as it stands today, is not something we oppose, but the wasteful operational infrastructure of data centers, its unethical use of copyrighted and uncredited work (artist here, hello!?), its unregulated expansion into our communities and ecosystems, and the unseen cost of generating resource-intense content no one cares about - absolutely are.</p>
      <p>Just like with the Internet, it's a tool - and while humanity time and time again proves that it will use any tool it is given for evil, some gems will use them for good. We plan to be one of those players who use it to better the world. To elevate our mission, our outputs, and our reach - but never change our fundamentals, priorities, and our soul.</p>
    </div>
  </div>
</section>

<section id="how-we-use-ai" class="padded-section">
  <div class="max-width" data-au="flex-container flex-vertical medium-gap">
    <div class="section-header">
      <h2>
        <span class="highlight-container">How we use AI</span>
      </h2>
    </div>
    <div class="section-content" data-au="flex-container flex-vertical large-gap">
      <p>Currently, our use of AI falls into one of three categories: strategizing, researching, and development. In being such a small team, using AI to handle the time-consuming "work behind the work" has given us more time to focus on actually <em>building</em> Terrabyte's projects.</p>
      <div class="subsection">
        <div class="section-col-container" data-au="align-top flex-container small-gap">
          <div class="section-col" data-au="flex-width flex-container flex-vertical small-gap">
            <div class="subsection-header">
              <h3><span class="highlight-container">We use AI to help us with...</span></h3>
            </div>
            <div class="subsection-content col-content" data-au="flex-container flex-vertical small-gap">
              <ul>
                <li>Brainstorming</li>
                <li>Task prioritization</li>
                <li>Generating reports and audits</li>
                <li>Troubleshooting product issues</li>
                <li>Generating code snippets</li>
                <li>Revising &amp; editing text snippets</li>
                <li>Organizing files</li>
                <li>Translation services</li>
              </ul>
            </div>
          </div>
          <div class="section-col" data-au="flex-width flex-container flex-vertical small-gap">
            <h3><span class="highlight-container">We don't use AI to...</span></h3>
            <div class="subsection-content col-content" data-au="flex-container flex-vertical small-gap">
              <ul>
                <li>Generate graphics and visuals</li>
                <li>Generate code for entire products</li>
                <li>Generate entire text entries</li>
                <li>Replace active employees or volunteers</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <p>We do not (and never intend to) use AI to create graphics or other visual elements within our projects. True art, in our opinion, is not something you can algorithmically manufacture.</p>
    </div>
  </div>
</section>

<section id="user-data-and-ai" class="padded-section">
  <div class="max-width" data-au="flex-container flex-vertical medium-gap">
    <div class="section-header">
      <h2>
        <span class="highlight-container">User data &amp; AI</span>
      </h2>
    </div>
    <div class="section-content" data-au="flex-container flex-vertical small-gap">
      <p>As stated in our <a class="text-link" href="/legal/privacy-policy">Privacy Policy</a>, we do not upload user data into AI tools or use user data to train AI models. Any AI tools we use operate on hypotheticals, internal content, and in some cases, publicly available information.</p>
    </div>
  </div>
</section>