---
subtitle: DEI Statement
layout: layouts/project-base.njk
keywords: legal, legal center, DEI, diversity, equity, inclusion, policy, statement
styles: /css/text-page-styles.css
---

<section id="intro" class="padded-section">
  <div class="max-width" data-au="flex-container flex-vertical large-gap">
    <div class="section-header" data-au="flex-container flex-vertical small-gap">
      {# breadcrumb #}
      <div data-au="flex-container">
        <a class="set-width large-link subtext" href="/legal" data-au="flex-container flex-horizontal xsmall-gap align-center">
          <div class="icon-container">
            <svg class="icon" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
              <use href="#chevron-left-icon"></use>
            </svg>
          </div>
          <span>Back to Legal Center</span>
        </a>
      </div>
      <h1>
        <span class="highlight-container rainbow">Diversity, Equity, and Inclusion</span>
      </h1>
    </div>
    
    <div class="section-content" data-au="flex-container flex-vertical small-gap">
      <p>Being anything other than a white, straight, cis male in a world tailored to white, straight, cis men can be difficult. And since our natural world is built on diversity, it's a no-brainer for us to support diversity found in our own species.</p>
      <p>Since "equality" is now a hot-button topic, before filing a complaint about our DEI policy, please refer to <a class="text-link" href="https://thediversitymovement.com/10-most-common-objections-dei-how-to-respond/" target="_blank">this doc</a>. If you would still like to file a complaint about this policy, you may email us using the link on our website's <a class="text-link" href="/#contact">homepage</a>.</p>
    </div>
  </div>
</section>

<section id="users" class="padded-section">
  <div class="max-width" data-au="flex-container flex-vertical medium-gap">
    <div class="section-header">
      <h2 aria-label="DEI with our users">
        <span class="highlight-container">...with our users</span>
      </h2>
    </div>
    <div class="section-content" data-au="flex-container flex-vertical small-gap">
      <p>We are committed to providing an inclusive experience for everyone using our products, engaging with our pop-ups, or attending our events. We welcome feedback and suggestions to improve our offerings and ensure they are approachable for everyone regardless of identity, background, or any other characteristic.</p>
      <p>Is there a particular demographic, community, or group underrepresented in our work? <a class="text-link" href="/#contact">Let us know</a> and we'll explore including them in a future project!</p>
    </div>
  </div>
</section>

<section id="team" class="padded-section">
  <div class="max-width" data-au="flex-container flex-vertical medium-gap">
    <div class="section-header">
      <h2 aria-label="DEI within our team">
        <span class="highlight-container">...with our team</span>
      </h2>
    </div>
    <div class="section-content" data-au="flex-container flex-vertical small-gap">
      <p>We base all hiring decisions on who is the best fit for the role, our company, and our team. A position may include required qualifications, but if the best candidate doesn't meet these requirements (education, experience, etc.), we may consider other factors. The most important thing to us is filling our team with capable people, not the ones with the largest resumes.</p>
      <p><a class="text-link" href="/about-us/#the-team">Our squad</a> is already made up of a wide array of unique individuals - we'd be happy to have you join us!</p>
    </div>
  </div>
</section>