---
subtitle: Legal Center
layout: layouts/project-base.njk
keywords: legal, cookies, policy, privacy, accessibility, data, legal center, DEI, diversity, equity, inclusion, AI
styles: /css/text-page-styles.css
---

<section id="legal-links" class="padded-section">
  <div class="max-width" data-au="flex-container flex-vertical medium-gap">
    <div class="section-header" data-au="flex-container flex-vertical small-gap">
      <h1>
        <span class="highlight-container">Legal Center</span>
      </h1>
    </div>
    
    <div class="section-content" data-au="flex-container flex-vertical small-gap">
      <p>It might be boring stuff, but it's all necessary stuff. We highly value transparency, and your ability to access organizational policies is only one part of that. Don't see the form/statement/policy you're looking for below? Please email us at <a class="text-link" data-obfu-email href="?subject=Terrabyte%20Legal%20Inquiry" aria-label="Email Terrabyte"><span data-obfu-email-text></span></a> and we would be happy to assist you.</p>
    </div>
    <div class="section-contentx" data-au="flex-container flex-vertical xsmall-gap">
      <a class="link-row" href="/legal/privacy-policy">Privacy Policy</a>
      <a class="link-row" href="/legal/cookie-policy">Cookie Policy</a>
      <a class="link-row" href="/legal/dei">DEI Statement</a>
      <a class="link-row" href="/legal/accessibility">Accessibility</a>
      <a class="link-row" href="/legal/ai">AI Statement</a>
    </div>
  </div>
</section>