---
subtitle: Privacy Policy
layout: layouts/project-base.njk
keywords: cookie, cookies, privacy, data, policy, statement
styles: /css/text-page-styles.css
---

<section id="privacy-policy" class="padded-section">
  <div class="max-width" data-au="flex-container flex-vertical medium-gap">
    <div class="section-header" data-au="flex-container flex-vertical small-gap">
      {# breadcrumb #}
      <a class="large-link subtext" href="/legal" data-au="flex-container flex-horizontal xsmall-gap align-center">
        <div class="icon-container">
          <svg class="icon" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
            <use href="#chevron-left-icon"></use>
          </svg>
        </div>
        <span>Back to Legal Center</span>
      </a>

      <h1>
        <span class="highlight-container">Privacy Policy</span>
      </h1>
      <em class="subtext">(Last updated on June 9th, 2026)</em>
    </div>
    
    <div class="section-content" data-au="flex-container flex-vertical small-gap">
      <p>This privacy notice for Terrabyte, LLC ("Company," "we," "us," or "our") describes how and why we might collect, store, use, and/or share ("process") your information when you use our products ("Products") or services ("Services"), such as when you:</p>
      <ul>
        <li>Visit our website at <a class="text-link" href="https://terrabyte.eco" target="_blank">https://terrabyte.eco</a> or any Terrabyte product or service website.</li>
        <li>Engage with us in other related ways, including any sales, marketing, events, or other communications.</li>
      </ul>
      <p>Questions or concerns? Reading this privacy notice will help you understand your privacy rights and choices. If you do not agree with our policies and practices, please do not use our products or services. If you still have any questions or concerns, please contact us at <a class="text-link" data-obfu-email href=""><span data-obfu-email-text></span></a>.</p>
      <p>To learn more about how we use cookies and similar technologies, please refer to our <a class="text-link" href="/legal/cookie-policy">Cookie Policy</a>.</p>
    </div>
  </div>
</section>

<section id="table-of-contents" class="padded-section">
  <div class="max-width">
    <div class="section-header">
      <h2>
        <span class="highlight-container">Table of Contents</span>
      </h2>
    </div>
    <div class="section-content">
      <ol>
        <li><a class="standard-link" href="#section-1">What information do we collect?</a></li>
        <li><a class="standard-link" href="#section-2">How do we process your information?</a></li>
        <li><a class="standard-link" href="#section-3">What legal bases do we rely on to process your information?</a></li>
        <li><a class="standard-link" href="#section-4">When and with whom do we share your personal information?</a></li>
        <li><a class="standard-link" href="#section-5">How long do we keep your information?</a></li>
        <li><a class="standard-link" href="#section-6">How do we keep your information safe?</a></li>
        <li><a class="standard-link" href="#section-7">Do we collect information from minors?</a></li>
        <li><a class="standard-link" href="#section-8">What are your privacy rights?</a></li>
        <li><a class="standard-link" href="#section-9">Controls for Do-Not-Track features</a></li>

        <li><a class="standard-link" href="#section-10">Do California residents have specific privacy rights?</a></li>

        <li><a class="standard-link" href="#section-11">Do we make updates to this notice?</a></li>
        <li><a class="standard-link" href="#section-12">How can you contact us about this notice?</a></li>
        <li><a class="standard-link" href="#section-13">How can you review, update, or delete the data we collect from you?</a></li>
      </ol>
    </div>
  </div>
</section>

<a name="section-1"></a>
<section class="padded-section">
  <div class="max-width">
    <div class="section-header">
      <h2>
        <span class="highlight-container">What information do we collect?</span>
      </h2>
    </div>
    <div class="section-content">
      <div class="subsection">
        <p><b>In short:</b> We collect personal information that you provide to us.</p>
      </div>
      <div class="subsection">
        <p>We collect personal information that you voluntarily provide to us when you express an interest in obtaining information about us or our products and services, when you use our services, or otherwise when you contact us.</p>
        <p>The personal information that we collect depends on the context of your interactions with us and the products and services you use, pay for, or inquire about. The personal information we collect may include the following:</p>
        <ul>
          <li>names</li>
          <li>email addresses</li>
          <li>phone numbers</li>
          <li>billing addresses</li>
          <li>contact preferences</li>
        </ul>
      </div>
      <div class="subsection">
        <p>Additional information including credit/debit card, bank account, and other payment information may be collected by payment services as part of completing transactions through those online stores (Square and Etsy). This information, however, is never stored on our own servers or even accessible by us directly.</p>
      </div>
      <div class="subsection">
        <p>Information we don't collect:</p>
        <ul>
          <li>Sensitive information</li>
          <li>IP addresses</li>
          <li>Identifying information that doesn't come directly from you</li>
        </ul>
      </div>
      <div class="subsection">
        <p>You are responsible for ensuring that any personal information you provide is accurate, complete, and up to date. Please notify us promptly of any changes.</p>
      </div>
    </div>
  </div>
</section>

<a name="section-2"></a>
<section class="padded-section">
  <div class="max-width">
    <div class="section-header">
      <h2>
        <span class="highlight-container">How do we process your information?</span>
      </h2>
    </div>
    <div class="section-content">
      <div class="subsection">
        <p><b>In short:</b> We process your information to provide, improve, and administer our services, communicate with you, for security and fraud prevention, and to comply with law. We may also process your information for other purposes with your consent.</p>
      </div>
      <div class="subsection">
        <p>We process your personal information for a variety of reasons, depending on how you interact with our products and services, including:</p>
        <ul>
          <li>To deliver and facilitate delivery of services to the user. We may process your information to provide you with the requested product(s) or service(s).</li>
          <li>To respond to user inquiries/offer support to users. We may process your information to respond to your inquiries and solve any potential issues you might have with the requested product(s) or service(s).</li>
          <li>To send administrative information to you. We may process your information to send you details about our products or services and other similar information.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<a name="section-3"></a>
<section class="padded-section">
  <div class="max-width">
    <div class="section-header">
      <h2>
        <span class="highlight-container">What legal bases do we rely on to process your information?</span>
      </h2>
    </div>
    <div class="section-content">
      <div class="subsection">
        <p><b>In short:</b> We only process your information when we believe it is necessary and we have a valid legal reason (i.e., legal basis) to do so under applicable law.</p>
      </div>
      <div class="subsection">
        <h3 class="subsection-header">
          <span class="highlight-container">If you are located in the EU or UK:</span>
        </h3>
        <div class="subsection-content">
          <p>The General Data Protection Regulation (GDPR) and UK GDPR require us to explain the valid legal bases we rely on in order to process your personal information:</p>
          <ul>
            <li>Consent. We may process your information if you have given us permission (i.e., consent) to use your personal information for a specific purpose. You can withdraw your consent at any time.</li>
            <li>Performance of a Contract. We may process your information when we believe it is necessary to fulfill our contractual obligations to you, including providing our products and services or at your request prior to entering into a contract with you.</li>
            <li>Legal obligations. We may process your information where we believe it is necessary for compliance with our legal obligations, such as to cooperate with a law enforcement body or regulatory agency, exercise or defend our legal rights, or disclose your information as evidence in litigation in which we are involved.</li>
            <li>Vital Interests. We may process your information where we believe it is necessary to protect your vital interests or the vital interests of a third party, such as situations involving potential threats to the safety of any person.</li>
          </ul>
        </div>
      </div>
      <div class="subsection">
        <h3 class="subsection-header">
          <span class="highlight-container">If you are located in Canada:</span>
        </h3>
        <div class="subsection-content">
          <p>We may process your information if you have given us specific permission (i.e., express consent) to use your personal information for a specific purpose, or in situations where your permission can be inferred (i.e., implied consent). You can withdraw your consent at any time.</p>
          <p>In some exceptional cases, we may be legally permitted under applicable law to process your information without your consent, including:</p>
          <ul>
            <li>If collection is clearly in the interests of an individual and consent cannot be obtained in a timely manner.</li>
            <li>For investigations, fraud detection, and fraud prevention.</li>
            <li>For business transactions provided certain conditions are met.</li>
            <li>If it is contained in a witness statement and the collection is necessary to assess, process, or settle an insurance claim.</li>
            <li>For identifying injured, ill, or deceased persons and communicating with next of kin.</li>
            <li>If we have reasonable grounds to believe an individual has been, is, or may be, victim of financial abuse.</li>
            <li>If it is reasonable to expect collection and use with consent would compromise the availability or accuracy of the information and the collection is reasonable for purposes related to investigating a breach of an agreement or a contravention of the laws of Canada or a province.</li>
            <li>If disclosure is required to comply with a subpoena, warrant, court order, or rules of the court relating to the production of records.</li>
            <li>If it was produced by an individual in the course of their employment, business, or profession and the collection is consistent with the purposes for which the information was produced.</li>
            <li>If the collection is solely for journalistic, artistic, or literary purposes.</li>
            <li>If the information is publicly available and is specified by the regulations.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<a name="section-4"></a>
<section class="padded-section">
  <div class="max-width">
    <div class="section-header">
      <h2>
        <span class="highlight-container">When and with whom do we share your personal information?</span>
      </h2>
    </div>
    <div class="section-content">
      <div class="subsection">
        <p><b>In short:</b> We may share information in specific situations with third parties that provide services we use - such as for payment processing, contract drafting, and sending invoices.</p>
      </div>
      <div class="subsection">
        <h3 class="subsection-header">
          <span class="highlight-container">Business Transfers</span></h3>
        <div class="subsection-content">
          <p>We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company.</p>
        </div>
      </div>
      <div class="subsection">
        <h3 class="subsection-header">
          <span class="highlight-container">Sending invoices and processing payments</span>
        </h3>
        <div class="subsection-content">
          <p>We may share your information with third parties in order to process payments and to send invoices for provided/planned projects and services.</p>
          <p>We may use PayPal and Square in order to process the above. You can view the PayPal Privacy Statement at <a class="standard-link" href="https://www.paypal.com/webapps/mpp/ua/privacy-full" target="_blank">https://www.paypal.com/webapps/mpp/ua/privacy-full</a> and the Square Privacy Notice at <a class="standard-link" href="https://squareup.com/us/en/legal/general/privacy" target="_blank">https://squareup.com/us/en/legal/general/privacy</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<a name="section-5"></a>
<section class="padded-section">
  <div class="max-width">
    <div class="section-header">
      <h2>
        <span class="highlight-container">How long do we keep your information?</span>
      </h2>
    </div>
    <div class="section-content">
      <div class="subsection">
        <p><b>In short:</b> We keep your information for as long as necessary to fulfill the purposes outlined in this privacy notice unless otherwise required by law.</p>
      </div>
      <div class="subsection">
        <p>We retain personal information only for as long as necessary to fulfill the purposes outlined in this notice, or as required by applicable laws (e.g., tax, accounting, or regulatory obligations).</p>
        <p>When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize such information, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.</p>
      </div>
    </div>
  </div>
</section>

<a name="section-6"></a>
<section class="padded-section">
  <div class="max-width">
    <div class="section-header">
      <h2>
        <span class="highlight-container">How do we keep your information safe?</span>
      </h2>
    </div>
    <div class="section-content">
      <div class="subsection">
        <p><b>In short:</b> We aim to protect your personal information through a system of organizational and technical security measures.</p>
      </div>
      <div class="subsection">
        <p>We have implemented appropriate and reasonable technical and organizational security measures designed to protect the security of any personal information we process. However, despite our safeguards and efforts to secure your information, no electronic transmission over the Internet or information storage technology can be guaranteed to be 100% secure. We cannot promise unauthorized third parties will not be able to defeat our security and improperly collect, access, steal, or modify your information. Although we will do our best to protect your personal information, transmission of personal information to and from our products and services is at your own risk. You should only access our products or services within a secure environment.</p>
      </div>
    </div>
  </div>
</section>

<a name="section-7"></a>
<section class="padded-section">
  <div class="max-width">
    <div class="section-header">
      <h2>
        <span class="highlight-container">Do we collect information from minors?</span>
      </h2>
    </div>
    <div class="section-content">
      <div class="subsection">
        <p><b>In short:</b> We do not knowingly collect data from or market to children under 18 years of age.</p>
      </div>
      <div class="subsection">
        <p>We do not knowingly solicit data from or market to children under 18 years of age. By using our products and services, you represent that you are at least 18 or that you are the parent or guardian of such a minor and consent to such minor dependent's use of our products and services. If we learn that personal information from users less than 18 years of age has been collected, we will take reasonable measures to promptly delete such data from our records. If you become aware of any data we may have collected from children under age 18, please contact us at <a class="standard-link" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#116;&#101;&#114;&#114;&#97;&#98;&#121;&#116;&#101;&#46;&#101;&#99;&#111;">&#105;<!--ourteam@webmail-->&#110;&#102;&#111;&#64;&#116;&#101;<!--am@webma-->&#114;&#114;&#97;&#98;&#121;&#116;&#101;&#46;<!--@webmail.com-->&#101;&#99;&#111;</a>.</p>
      </div>
    </div>
  </div>
</section>

<a name="section-8"></a>
<section class="padded-section">
  <div class="max-width">
    <div class="section-header">
      <h2>
        <span class="highlight-container">What are your privacy rights?</span>
      </h2>
    </div>
    <div class="section-content">
      <div class="subsection">
        <p><b>In short:</b> You may review, change, or delete your stored data at any time.</p>
      </div>
      <div class="subsection">
        <p>In some regions (like the EEA, UK, and Canada), you have certain rights under applicable data protection laws. These may include the right:</p>
        <ul>
          <li>to request access and obtain a copy of your personal information</li>
          <li>to request rectification or erasure</li>
          <li>to restrict the processing of your personal information</li>
          <li>if applicable, to data portability</li>
        </ul>
      </div>
      <div class="subsection">
        <p>In certain circumstances, you may also have the right to object to the processing of your personal information. You can make such a request by contacting us by using the contact details provided in the <a class="standard-link" href="#section-12">"How can you contact us about this notice?" section</a> below.</p>
      </div>
      <div class="subsection">
        <h3 class="subsection-header">
          <span class="highlight-container">Withdrawing your consent</span></h3>
        <div class="subsection-content">
          <p>If we are relying on your consent to process your personal information, which may be express and/or implied consent depending on the applicable law, you have the right to withdraw your consent at any time. You can withdraw your consent at any time by contacting us by using the contact details provided in the <a class="standard-link" href="#section-12">"How can you contact us about this notice?" section</a> below.</p>
          <p>However, please note that this will not affect the lawfulness of the processing before its withdrawal, nor when applicable law allows, will it affect the processing of your personal information conducted in reliance on lawful processing grounds other than consent.</p>
          <p>If you have questions or comments about your privacy rights, you may email us at <a class="standard-link" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#116;&#101;&#114;&#114;&#97;&#98;&#121;&#116;&#101;&#46;&#101;&#99;&#111;">&#105;<!--ourteam@webmail-->&#110;&#102;&#111;&#64;&#116;&#101;<!--am@webma-->&#114;&#114;&#97;&#98;&#121;&#116;&#101;&#46;<!--@webmail.com-->&#101;&#99;&#111;</a>.</p>
        </div>
      </div>
      <div class="subsection">
        <h3 class="subsection-header">
          <span class="highlight-container">If you are located in the EEA or UK</span>
        </h3>
        <div class="subsection-content">
          <p>If you are located in the EEA or UK and you believe we are unlawfully processing your personal information, you also have the right to complain to your local data protection supervisory authority. You can find their contact details at <a class="standard-link" href="https://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm" target="_blank">https://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm</a>.</p>
        </div>
      </div>
      <div class="subsection">
        <h3 class="subsection-header">
          <span class="highlight-container">If you are located in Switzerland</span>
        </h3>
        <div class="subsection-content">
          <p>If you are located in Switzerland, the contact details for the data protection authorities are available at <a class="standard-link" href="https://www.edoeb.admin.ch/edoeb/en/home.html" target="_blank">https://www.edoeb.admin.ch/edoeb/en/home.html</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<a name="section-9"></a>
<section class="padded-section">
  <div class="max-width">
    <div class="section-header">
      <h2>
        <span class="highlight-container">Controls for Do-Not-Track features</span>
      </h2>
    </div>
    <div class="section-content">
      <div class="subsection">
        <p>Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track ("DNT") feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. At this stage no uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this privacy notice.</p>
      </div>
    </div>
  </div>
</section>

<a name="section-10"></a>
<section class="padded-section">
  <div class="max-width">
    <div class="section-header">
      <h2>
        <span class="highlight-container">Do California residents have specific privacy rights?</span>
      </h2>
    </div>
    <div class="section-content">
      <div class="subsection">
        <p><b>In short:</b> Yes, if you are a resident of California, you are granted specific rights regarding access to your personal information.</p>
      </div>
      <div class="subsection">
        <p>California Civil Code Section 1798.83, also known as the "Shine The Light" law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below.</p>
      </div>
      <div class="subsection">
        <h2 class="subsection-header">
          <span class="highlight-container">CCPA Privacy Notice</span>
        </h2>
        <div class="subsection-content">
          <p>The California Code of Regulations defines a "resident" as:</p>
          <ul>
            <li>every individual who is in the State of California for other than a temporary or transitory purpose and</li>
            <li>every individual who is domiciled in the State of California who is outside the State of California for a temporary or transitory purpose</li>
          </ul>

          <p>All other individuals are defined as "non-residents". If this definition of "resident" applies to you, we must adhere to certain rights and obligations regarding your personal information.</p>
        </div>
      </div>


      <div class="subsection">
        <h3 class="subsection-header">
          <span class="highlight-container">What categories of personal information do we collect?</span>
        </h3>
        <div class="subsection-content">
          <p>We have collected the following categories of personal information in the past twelve (12) months:</p>
          <ul>
            <li>Identifiers - Examples: Contact details, such as real name, alias, postal address, telephone or mobile contact number, unique personal identifier, online identifier, and email address</li>
            <li>Personal information categories listed in the California Customer Records statute - Examples: Name, contact information</li>
            <li>Commercial information - Examples: Transaction information, purchase history, and payment information</li>
          </ul>
          <p>We have NOT collected the following categories of personal information in the past twelve (12) months:</p>
          <ul>
            <li>Protected classification characteristics under California or federal law - Examples: Gender and date of birth</li>
            <li>Biometric information - Examples: Fingerprints and voiceprints</li>
            <li>Internet or other similar network activity - Examples: Browsing history, search history, online behavior, interest data, and interactions with our and other websites, applications, systems, and advertisements</li>
            <li>Geolocation data - Examples: Device location</li>
            <li>Audio, electronic, visual, thermal, olfactory, or similar information - Examples: Images and audio, video or call recordings created in connection with our business activities</li>
            <li>Professional or employment-related information - Examples: Business contact details in order to provide you our services at a business level or job title, work history, and professional qualifications if you apply for a job with us</li>
            <li>Education Information - Examples: Student records and directory information</li>
            <li>Inferences drawn from other information - Examples: Inferences drawn from any of the collected personal information listed above to create a profile or summary about, for example, an individual's preferences and characteristics</li>
          </ul>
        </div>
      </div>

      <div class="subsection">
        <p>We may also collect other personal information outside of these categories instances where you interact with us in person, online, by phone, or by mail in the context of:</p>
        <ul>
          <li>Receiving help through our customer support channels</li>
          <li>Participation in customer surveys or contests</li>
          <li>Facilitation in the delivery of our products and services and to respond to your inquiries</li>
        </ul>
      </div>

      <div class="subsection">
        <h3 class="subsection-header">
          <span class="highlight-container">How do we use and share your personal information?</span>
        </h3>
        <div class="subsection-content">
          <p>More information about our data collection and sharing practices can be found in this privacy notice.</p>
          <p>You may contact us by email at <a class="standard-link" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#116;&#101;&#114;&#114;&#97;&#98;&#121;&#116;&#101;&#46;&#101;&#99;&#111;">&#105;<!--ourteam@webmail-->&#110;&#102;&#111;&#64;&#116;&#101;<!--am@webma-->&#114;&#114;&#97;&#98;&#121;&#116;&#101;&#46;<!--@webmail.com-->&#101;&#99;&#111;</a>, or by referring to the contact details at the bottom of this document.</p>
          <p>If you are using an authorized agent to exercise your right to opt out we may deny a request if the authorized agent does not submit proof that they have been validly authorized to act on your behalf.</p>
        </div>
        
      </div>

      <div class="subsection">
        <h3 class="subsection-header">
          <span class="highlight-container">Will your information be shared with anyone else?</span>
        </h3>
        <div class="subsection-content">
          <p>We may disclose your personal information with our service providers pursuant to a written contract between us and each service provider. Each service provider is a for-profit entity that processes the information on our behalf.</p>
          <p>We may use your personal information for our own business purposes, such as for undertaking internal research for technological development and demonstration. This is not considered to be "selling" of your personal information.</p>
          <p>We have not disclosed or sold any personal information to third parties for a business or commercial purpose in the preceding twelve (12) months. We will not sell personal information in the future belonging to website visitors, users, and other consumers.</p>
        </div>
      </div>

      <div class="subsection">
        <h3 class="subsection-header">
          <span class="highlight-container">Your rights with respect to your personal data</span>
        </h3>
        <div class="subsection-content">
          <ul class="no-bullets">
            <li><p>Right to request deletion of the data — Request to delete</p></li>
            <li>
              <ul class="left-border no-bullets">
                <li><p>You can ask for the deletion of your personal information. If you ask us to delete your personal information, we will respect your request and delete your personal information, subject to certain exceptions provided by law, such as (but not limited to) the exercise by another consumer of his or her right to free speech, our compliance requirements resulting from a legal obligation, or any processing that may be required to protect against illegal activities.</p></li>
              </ul>
            </li>
            <li>&nbsp;</li>

            <li><p>Right to be informed — Request to know</p></li>
            <li>
              <ul class="left-border no-bullets">
                <li><p>Depending on the circumstances, you have a right to know:</p></li>
                <li>
                  <ul>
                    <li>whether we collect and use your personal information</li>
                    <li>the categories of personal information that we collect</li>
                    <li>the purposes for which the collected personal information is used</li>
                    <li>whether we sell your personal information to third parties</li>
                    <li>the categories of personal information that we sold or disclosed for a business purpose</li>
                    <li>the categories of third parties to whom the personal information was sold or disclosed for a business purpose</li>
                    <li>the business or commercial purpose for collecting or selling personal information</li>
                  </ul>
                </li>
                <li><p>In accordance with applicable law, we are not obligated to provide or delete consumer information that is de-identified in response to a consumer request or to re-identify individual data to verify a consumer request.</p></li>
              </ul>
            </li>
            <li>&nbsp;</li>

            <li><p>Right to Non-Discrimination for the Exercise of a Consumer's Privacy Rights</p></li>
            <li>
              <ul class="left-border no-bullets">
                <li><p>We will not discriminate against you if you exercise your privacy rights.</p></li>
              </ul>
            </li>
            <li>&nbsp;</li>

            <li><p>Verification process</p></li>
            <li>
              <ul class="left-border no-bullets">
                <li><p>Upon receiving your request, we will need to verify your identity to determine you are the same person about whom we have the information in our system. These verification efforts require us to ask you to provide information so that we can match it with information you have previously provided us. For instance, depending on the type of request you submit, we may ask you to provide certain information so that we can match the information you provide with the information we already have on file, or we may contact you through a communication method (e.g., phone or email) that you have previously provided to us. We may also use other verification methods as the circumstances dictate.</p></li>
                <li><p>We will only use personal information provided in your request to verify your identity or authority to make the request. To the extent possible, we will avoid requesting additional information from you for the purposes of verification. However, if we cannot verify your identity from the information already maintained by us, we may request that you provide additional information for the purposes of verifying your identity and for security or fraud-prevention purposes. We will delete such additionally provided information as soon as we finish verifying you.</p></li>
              </ul>
            </li>

            <li>&nbsp;</li>
            <li><p>Other privacy rights</p></li>
            <li>
              <ul>
                <li>You may object to the processing of your personal information.</li>
              <li>You may request correction of your personal data if it is incorrect or no longer relevant, or ask to restrict the
                processing of the information.</li>
              <li>You can designate an authorized agent to make a request under the CCPA on your behalf. Requests submitted by authorized agents must include verifiable documentation demonstrating the agent's legal authority to act on behalf of the consumer. We reserve the right to deny requests lacking sufficient proof.</li>
              <li>You may request to opt out from future selling of your personal information to third parties. Upon receiving an opt-out request, we will act upon the request as soon as feasibly possible, but no later than fifteen (15) days from the date of the request submission.</li>
              </ul>
            </li>


          </ul>
        </div>
        
      </div>




    </div>
  </div>
</section>

<a name="section-11"></a>
<section class="padded-section">
  <div class="max-width">
    <div class="section-header">
      <h2>
        <span class="highlight-container">Do we make updates to this notice?</span>
      </h2>
    </div>
    <div class="section-content">
      <div class="subsection">
        <p><b>In short:</b> Yes, we will update this notice as necessary to stay compliant with relevant laws.</p>
      </div>
      <div class="subsection">
        <p>We may update this privacy notice from time to time. The updated version will be indicated by an updated "Revised" date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy notice, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy notice frequently to be informed of how we are protecting your information.</p>
      </div>
    </div>
  </div>
</section>

<a name="section-12"></a>
<section class="padded-section">
  <div class="max-width">
    <div class="section-header">
      <h2>
        <span class="highlight-container">How can you contact us about this notice?</span>
      </h2>
    </div>
    <div class="section-content">
      <div class="subsection">
        <p>If you have questions or comments about this notice, you may email us at <a class="standard-link" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#116;&#101;&#114;&#114;&#97;&#98;&#121;&#116;&#101;&#46;&#101;&#99;&#111;">&#105;<!--ourteam@webmail-->&#110;&#102;&#111;&#64;&#116;&#101;<!--am@webma-->&#114;&#114;&#97;&#98;&#121;&#116;&#101;&#46;<!--@webmail.com-->&#101;&#99;&#111;</a> or by filling out a request at <a class="standard-link" target="_blank" href="https://terrabyte.eco/legal/info-request">https://terrabyte.eco/legal/info-request</a>.</p>
      </div>
    </div>
  </div>
</section>

<a name="section-13"></a>
<section class="padded-section">
  <div class="max-width">
    <div class="section-header">
      <h2>
        <span class="highlight-container">How can you review, update, or delete the data we collect from you?</span>
      </h2>
    </div>
    <div class="section-content">
      <div class="subsection">
        <p>You have the right to request access to the personal information we collect from you, change that information, or delete it. To request to review, update, or delete your personal information, please visit <a class="standard-link" target="_blank" href="https://terrabyte.eco/legal/info-request">https://terrabyte.eco/legal/info-request</a>.</p>
      </div>
    </div>
  </div>
</section>

<section id="credits" class="padded-section">
  <div class="max-width">
    <div class="section-content">
      <p>This privacy policy was created in part by <a class="standard-link" target="_blank" href="https://termly.io">Termly.io</a>.</p>
    </div>
  </div>
</section>