/* styles for THIS SITE ONLY. */

/* css reset */
*{
  /* padding:0; */
  /* margin:0; */
  box-sizing:border-box;
  /* background-size:contain; */
  /* background-position:center; */
	/* background-repeat:no-repeat; */
	/* scroll-behavior: inherit; */
  line-height:1.5;
  -webkit-tap-highlight-color: transparent;
}