{# not implemented, but would like to refactor sites to use this standardized button component! #}
{% macro button(text, href="#", className="primary", ariaLabel="", target="", rel="", role="button") %}
  <a
    href="{{ href }}"
    class="button {{ className }}"
    role="{{ role }}"
    {% if ariaLabel %}aria-label="{{ ariaLabel }}"{% endif %}
    {% if target %}target="{{ target }}"{% endif %}
    {% if rel %}rel="{{ rel }}"{% endif %}
  >
    {{ text }}
  </a>
{% endmacro %}
