@charset "utf-8";
/* CSS Document */
body
{background-color:#f4decb;}

#wrapper
{
	margin: auto;
	background-color: #F8EEE7;
	text-align: center;
}

#wrapper3
{
	margin: auto;
	background-color: #F8EEE7;
	text-align: center;
}

#banner img
{
	border:solid;
	border-bottom:none;
	border-top:none;
	border-weight: 20px;
	border-color:#f4decb;
	margin:none;
}

header
{
	border-bottom:solid;
	border-color:#492749;
	border-bottom-width:thick;
	margin-top:none;
}

#nav{border-bottom:solid;
	border-color:#492749;
	border-bottom-width:thick;}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #94618e;
}

#nav li {
  float: center;
}

#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#nav li a:hover {
  background-color: #492749;
}

h1
{color:#49274a;
font-weight: bold;
font-family:Garamond;}
h2
{color:#94618e;
font-weight:normal;
font-family:Garamond;}

main
{width:90%;
background-color:#f4decb;
float: center;
margin:auto;
margin-top:none;
margin-bottom:none;}

main #wrapper2
{background-color:#f8eee7;
marin-top:none;
marigin-bottom:none;}

.text
{padding-left:20px;
padding-right:20px;
padding-top:20px;}


.gallary img
{
	width:50%;
}
.wedding img
{
	width:60%;
}

footer
{background-color:#94618e;
border: solid;
margin: auto;
border-weight:thick;
border-color:#492749;}

#chef 
{
width:45%;
float:right;
}


div.gallary {
  background-color: #492749;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
	border: solid;
	border-weight:10;
	border-color:#94618e;
}

div.gallary img {
  padding: 10px;
}
footer img
{width: 3%;
align-content:center;
padding-left:40px;
padding-right:40px;}

form
{
	align-content:center;
	width:75%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border:solid;
	border-weight:thick;
	border-color:#f4decb;
	padding-bottom:20px;
}

.time
{
	color:#49274a;
	font-weight:bold;
}
p
{padding-left:20px;
padding-right:20px;}
