main section{
  min-height:auto;
}

main section > .max-width{
  max-width:900px;
}

/* responsive styles */
@media only screen and (max-width:930px){
  .subsection-col-container{
    flex-wrap:wrap;
  }
  .subsection-col{
    flex:auto;
    width:100%;
  }
}