---
subtitle: About the team
layout: layouts/project-base.njk
keywords: graphic design, environment, climate change, climate crisis, go green, ecology, conservation, carbon footprint, carbon, enviroaction, enviroart, ecoart, global warming, save the planet, plastic pollution, pixel planet, pixel planet today, pinekeepers, canapi, api, creative, nebraska, omaha, green tech, climate tech, education, edutainment, sustainability, sustainable, green technology, green solutions, eco-friendly, environmental technology, climate solutions, about, team, company, business
styles: /css/about-us-styles.css
navSelected: about
---

<section id="hero" class="padded-section" data-au="flex-container flex-vertical">
  <div class="section-col-container max-width" data-au="flex-width flex-container align-center medium-gap">
    <div class="hero-content" data-au="flex-width flex-container flex-vertical medium-gap">
      <h1>Our world is in trouble</h1>
      <p>...and if you know anything about Hollywood &mdash; it's up to nerds like us to save the day.</p>
      <div class="button-container">
        <a href="#our-org">
          <button class="shadow">What we're doing</button>
        </a>
      </div>

      <div class="graphic-container" role="presentation">
        <h3 class="code-text" data-au="text-right">01110100 01101000 01100101<br class="hide-on-mobile"> 00100000 01100010<br class="hide-on-mobile"> 01111001 01110100 01100101 <span class="hide-on-mobile">01110011<br class="hide-on-mobile"> 01100100 01101111 01101110 00100111 01110100 00100000 01110111 01110010 01101001 01110100 01100101
        01110100 01101000 01100101 01101101 01110011 01100101 01101100<br class="hide-on-mobile"> 01110110<br class="hide-on-mobile"> 01100101 01110011</span>
        </h3>
        <div class="terrabyte-earth-graphic hide-on-mobile">
          <svg viewBox="0 0 1000 1000" role="presentation">
            <use href="#terrabyte-earth-missing-top"/>
          </svg>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="our-org" class="padded-section" data-au="flex-container all-center">
  <div data-au="flex-container flex-vertical">
    <div class="max-width" data-au="flex-container flex-vertical large-gap">
      <div class="section-header">
        <h2><span class="highlight-container">Our Organization</span></h2>
      </div>
      <!-- who we are -->
      <div class="subsection">
        <div class="section-col-container" data-au="align-center flex-container large-gap">
          <div class="section-col" data-au="flex-width">
            <div class="subsection-content col-content" data-au="flex-container flex-vertical small-gap">
              <p>Terrabyte is a green tech company based in Omaha, NE (the Silicon Prairie, if you will). We're a small team of eco-nerds building a greener tomorrow through education, entertainment, and software tools.</p>
              <p>Our team is made up of passionate people that not only want to change the world for the better, but find creative ways to do so. We don't build carbon vacuums, microplastic filters, or even biodegradable cutlery &mdash; but we do develop projects for the digital world that create change in the real one.</p>
            </div>
          </div>
          <div id="sdg-col" class="section-col" data-au="flex-width">
            <div class="col-content" data-au="flex-container flex-container small-gap">
              <!-- what should go here, if anything -->
            </div>
          </div>
        </div>
      </div>
      <div class="subsection">
        <div class="section-col-container" data-au="align-center flex-container large-gap">
          <div id="sdg-col" class="section-col" data-au="flex-width">
            <div class="col-content" data-au="flex-container all-center flex-wrap">
              <a class="sdg-container" href="https://sdgs.un.org/goals/goal4" target="_blank" role="button" aria-label="SDG 4 (opens in new window)">
                <svg viewBox="0 0 150 150" role="presentation">
                  <use href="#sdg-4-icon"/>
                </svg>
              </a>
              <a class="sdg-container" href="https://sdgs.un.org/goals/goal13" target="_blank" role="button" aria-label="SDG 13 (opens in new window)">
                <svg viewBox="0 0 150 150" role="presentation">
                  <use href="#sdg-13-icon"/>
                </svg>
              </a>
              <a class="sdg-container" href="https://sdgs.un.org/goals/goal14" target="_blank" role="button" aria-label="SDG 14 (opens in new window)">
                <svg viewBox="0 0 150 150" role="presentation">
                  <use href="#sdg-14-icon"/>
                </svg>
              </a>
              <a class="sdg-container" href="https://sdgs.un.org/goals/goal15" target="_blank" role="button" aria-label="SDG 15 (opens in new window)">
                <svg viewBox="0 0 150 150" role="presentation">
                  <use href="#sdg-15-icon"/>
                </svg>
              </a>
            </div>
          </div>
          <div class="section-col" data-au="flex-width flex-container flex-vertical small-gap">
            <div class="subsection-header">
              <h3><span class="highlight-container">Commitments</span></h3>
            </div>
            <div class="subsection-content col-content" data-au="flex-container flex-vertical small-gap">
              <p>While there are plenty of global issues that need fixing, in looking at the United Nation's Sustainable Development Goals, our work most closely aligns with <a class="text-link" href="https://sdgs.un.org/goals/goal4" target="_blank" aria-label="SDG 4 (opens in new window)">Quality Education (4)</a>, <a class="text-link" href="https://sdgs.un.org/goals/goal13" target="_blank" aria-label="SDG 13 (opens in new window)">Climate Action (13)</a>, <a class="text-link" href="https://sdgs.un.org/goals/goal14" target="_blank" aria-label="SDG 14 (opens in new window)">Life Below Water (14)</a>, and <a class="text-link" href="https://sdgs.un.org/goals/goal15" target="_blank" aria-label="SDG 15 (opens in new window)">Life on Land (15)</a>. Each project fits within the UN's SDGs a bit differently, but these are at the base of everything we do.</p>
              <p>Looking for our commitments to Diversity, Equity, and Inclusion? Read our DEI statement <a class="text-link" href="/legal/dei">here</a>.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="subsection">
        <div class="section-col-container" data-au="align-center flex-container large-gap">
          <div class="section-col" data-au="flex-width flex-container flex-vertical small-gap">
            <div class="subsection-header">
              <h3><span class="highlight-container">Goals</span></h3>
            </div>
            <div class="subsection-content col-content" data-au="flex-container flex-vertical small-gap">
              <p>Most of our goals revolve around getting X project done by Y, but we are committed to running our company sustainably as well. Our largest goal is to run entirely on renewable energy (and effectively, being carbon-free) by 2035, but even now, we are taking steps to limiting our impact. Since 2024, a portion of our electricity is sourced from our solar array, all of our websites are hosted using renewable energy providers, we even save bound-for-e-waste devices and parts to use in our operations!</p>
              <p>To see a full list of our corporate sustainability goals, visit our <a class="text-link" href="https://profiles.eco/terrabyte" target="_blank" aria-label="Terrabyte dot Eco profile (opens in new window)">.Eco Profile</a>.</p>
            </div>
          </div>
          <div class="section-col hide-on-mobile hide-on-tablet" data-au="flex-width">
            <div class="col-content">
              <div class="checkbox-row" data-au="flex-container align-center" aria-label="our websites are all green-hosted!">
                <div class="checked checkbox-container" data-au="flex-container all-center set-width">
                  <svg viewBox="0 0 50 50" role="presentation">
                    <use href="#checkmark-icon"/>
                  </svg>
                </div>
                <div data-au="flex-width">
                  <p>Green-hosted websites</p>
                </div>
              </div>
              <div class="checkbox-row" data-au="flex-container align-center" aria-label="we make merch with the planet in mind!">
                <div class="checked checkbox-container" data-au="flex-container all-center set-width">
                  <svg viewBox="0 0 50 50" role="presentation">
                    <use href="#checkmark-icon"/>
                  </svg>
                </div>
                <div data-au="flex-width">
                  <p>Planet-centric merch</p>
                </div>
              </div>
              <div class="checkbox-row" data-au="flex-container align-center" aria-label="one of our goals is to operate plastic free. Period.">
                <div class="checkbox-container" data-au="flex-container all-center set-width">
                  <svg viewBox="0 0 50 50" role="presentation">
                    <use href="#checkmark-icon"/>
                  </svg>
                </div>
                <div data-au="flex-width">
                  <p>Eliminate plastic across our business</p>
                </div>
              </div>
              <div class="checkbox-row" data-au="flex-container align-center" aria-label="one of our goals is to use only renewable energy">
                <div class="checkbox-container" data-au="flex-container all-center set-width">
                  <svg viewBox="0 0 50 50" role="presentation">
                    <use href="#checkmark-icon"/>
                  </svg>
                </div>
                <div data-au="flex-width">
                  <p>Use only renewable energy</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        
      </div>
    </div>
  </div>
</section>

<section id="our-story" class="padded-section" data-au="flex-container all-center">
  <div class="max-width" data-au="flex-container flex-vertical medium-gap">
    <div class="section-header">
      <h2><span class="highlight-container">How it came to be</span></h2>
    </div>
    <div class="section-content" data-au="flex-container flex-vertical small-gap">
      <p>We never set out to create a green tech company, or really, a company at all &mdash; it was a classic case of "it just happened."</p>
      <p>The story started how most great stories do: a typical boring day. <a class="text-link read-more-trigger" data-read-more-trigger>Read the story</a>
        <span class="read-more-content" data-read-more-content>
          <a class="text-link" href="#sammy-harper">Sammy</a>, a recent college graduate (who would later become the founding member of Terrabyte) was working his 9 to 5 (a cushy web design position in financial tech) when he realized he wanted to do more with his life. He had always been fascinated with the planet and had a passion for design, yet he found himself creating websites for banking platforms. He had seen other artists take part in Design-365 challenges &mdash; where the artist would create a design every day for a year &mdash; and decided to create one of his own. However, on top of creating a design everyday, he would pair it with a fact about our natural world. It was this decision that gave birth to Pixel Planet Today, a project that lives on well after that first year of designs.</span></p>
      <span class="read-more-content" data-read-more-content>
        <p>As Sammy carried on creating Pixel Planet Today posts, he continued to come up with other ideas for how he could impact others and help save the planet. The second project for the team, Pinekeepers, aims to turn trees saved in-game into trees being planted in real life. The game is still in development, but the team loves sharing news about its progress on its social media channels and in the &lt;little-bytes&gt; newsletter.</p>
        <p>In looking towards the future of their environmental ventures, Sammy and the team decided that it just made sense to create a green tech company that could harbor all of the projects. The name, Terrabyte, plays off the word 'terabyte' (a large amount of computer data) to also include the latin word for Earth,'Terra'. And turning computer data into planet-benefitting actions? That's what it's all about.</p>
      </span>
    </div>
    <div class="section-footer button-container hide-on-mobile">
      <a href="#the-team">
        <button class="shadow">Meet the Team</button>
      </a>
    </div>
  </div>
</section>

<section id="the-team" class="padded-section" data-au="flex-container all-center">
  <div data-au="flex-container flex-vertical">
    <div class="max-width" data-au="flex-container flex-vertical large-gap">
      <div class="section-header">
        <h2><span class="highlight-container">The Team</span></h2>
      </div>
      <div class="section-content" data-au="flex-container flex-vertical large-gap">
        <div id="sammy-harper" class="team-row" data-au="flex-container flex-horizontal align-top medium-gap">
          <div class="team-avatar" data-au="set-width" role="image"></div>
          <div data-au="flex-width flex-container flex-vertical small-gap">
            <div class="team-row-header" data-au="flex-container flex-vertical xsmall-gap">
              <h3 class="team-row-name"><span class="highlight-container">Sammy Harper</span> <span class="force-small-text">(he/him)</span></h3>
              <p class="team-row-title subtext">Founder &amp; CEO</p>
            </div>
            <div class="team-links" data-au="flex-container flex-horizontal xsmall-gap align-center">
              <a class="team-link icon-container" href="https://sammyharper.com" target="_blank" aria-label="Sammy's website (opens in new window)">
                <div class="icon">
                  <svg viewBox="0 0 50 50" role="presentation">
                    <use href="#globe-icon"/>
                  </svg>
                </div>
              </a>
              <a class="team-link icon-container" href="https://instagram.com/officialsamharp" target="_blank" aria-label="Sammy's Instagram (opens in new window)">
                <div class="icon">
                  <svg viewBox="0 0 50 50" role="presentation">
                    <use href="#instagram-icon"/>
                  </svg>
                </div>
              </a>
              <a class="team-link icon-container" href="https://github.com/samharp" target="_blank" aria-label="Sammy's GitHub (opens in new window)">
                <div class="icon">
                  <svg viewBox="0 0 50 50" role="presentation">
                    <use href="#github-icon"/>
                  </svg>
                </div>
              </a>
            </div>
            <div class="team-row-content" data-au="flex-container flex-vertical small-gap">
              <p>The aforementioned founder, Sammy is the original creator of Pixel Planet Today and is head of the team's operations. His background in Multimedia and Information Technology, combined with his core interests in wildlife and our natural world, greatly lend to Terrabyte's mission of creating change for the better.</p>
              <!-- <p><b>Fact:</b> "My favorite animal is the black crested gibbon (specifically, the yellow female ones 😊) and my favorite way to travel is by bike."</p> -->
              <p><b>Fact:</b> "In 6th grade, I asked the teacher if it was okay to bring my report on a floppy disk instead of a flash drive (it was 2008 - I was behind the times)."</p>
            </div>
          </div>
        </div>

        <div id="ashley-florer" class="team-row" data-au="flex-container flex-horizontal align-top medium-gap">
          <div class="team-avatar" data-au="set-width" role="image"></div>
          <div data-au="flex-width flex-container flex-vertical small-gap">
            <div class="team-row-header" data-au="flex-container flex-vertical xsmall-gap">
              <h3 class="team-row-name"><span class="highlight-container">Ashley Florer</span> <span class="force-small-text">(she/her)</span></h3>
              <p class="team-row-title subtext">Project Coordinator</p>
            </div>
            <div class="team-links" data-au="flex-container flex-horizontal xsmall-gap align-center">
              <a class="team-link icon-container" href="https://poshmark.com/closet/sistersthriftin" target="_blank" aria-label="Ashley's Poshmark (opens in new window)">
                <div class="icon">
                  <svg viewBox="0 0 50 50" role="presentation">
                    <use href="#poshmark-icon"/>
                  </svg>
                </div>
              </a>
              <a class="team-link icon-container" href="https://instagram.com/ashleyflorer" target="_blank" aria-label="Ashley's Instagram (opens in new window)">
                <div class="icon">
                  <svg viewBox="0 0 50 50" role="presentation">
                    <use href="#instagram-icon"/>
                  </svg>
                </div>
              </a>
            </div>
            <div class="team-row-content" data-au="flex-container flex-vertical small-gap">
              <p>The first 'helper' on board, Ashley has been integral to post-planning, source-gathering, and planning timelines of in-progress projects. Her keen sense of organization and time-management have helped the team immensely!</p>
              <p><b>Fact:</b> "Green is ironically my favorite color, and I take great pride in my thrifted finds."</p>
            </div>
          </div>
        </div>

        <div id="pablo-morales" class="team-row" data-au="flex-container flex-horizontal align-top medium-gap">
          <div class="team-avatar" data-au="set-width" role="image"></div>
          <div data-au="flex-width flex-container flex-vertical small-gap">
            <div class="team-row-header" data-au="flex-container flex-vertical xsmall-gap">
              <h3 class="team-row-name"><span class="highlight-container">Pablo Morales</span> <span class="force-small-text">(he/him)</span></h3>
              <p class="team-row-title subtext">Hardware Engineer &amp; Developer</p>
            </div>
            <div class="team-links" data-au="flex-container flex-horizontal xsmall-gap align-center">
              <a class="team-link icon-container" href="https://lifeofpablo.com" target="_blank" aria-label="Pablo's website (opens in new window)">
                <div class="icon">
                  <svg viewBox="0 0 50 50" role="presentation">
                    <use href="#globe-icon"/>
                  </svg>
                </div>
              </a>
              <a class="team-link icon-container" href="https://instagram.com/thepablomorales" target="_blank" aria-label="Pablo's Instagram (opens in new window)">
                <div class="icon">
                  <svg viewBox="0 0 50 50" role="presentation">
                    <use href="#instagram-icon"/>
                  </svg>
                </div>
              </a>
              <a class="team-link icon-container" href="https://github.com/pmoralesgarcia" target="_blank" aria-label="Pablo's GitHub (opens in new window)">
                <div class="icon">
                  <svg viewBox="0 0 50 50" role="presentation">
                    <use href="#github-icon"/>
                  </svg>
                </div>
              </a>
            </div>
            <div class="team-row-content" data-au="flex-container flex-vertical small-gap">
              <p>Being one of the most diverse people out there, Pablo is just as comfortable developing a library database as he is exploring the French Alps. With a background in teaching and interests ranging from writing and IT to language-learning and singing - it's no surprise that 'conservation' makes the list of passions as well.</p>
              <p><b>Fact:</b> "I can say 'Go Green' in 4 languages (English, Spanish, French, and Korean)."</p>
            </div>
          </div>
        </div>

        <div id="wanttobehere-row" class="team-row" data-au="flex-container align-center medium-gap">
          <div class="team-avatar" data-au="set-width">
            <svg viewBox="0 0 50 50" role="presentation">
              <use href="#person-icon"/>
            </svg>
          </div>
          <div data-au="flex-width flex-container flex-vertical medium-gap">
            <div class="team-row-header">
              <h3 class="team-row-name highlight-container">See yourself being listed here?</h3>
            </div>

            <div class="team-row-content">
              <p>We'd love to hear how you'd like to <a class="text-link" href="../get-involved">get involved</a> with our projects! If interested, you can reach out to us directly via our various social channels, or by emailing us at <a class="text-link" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#116;&#101;&#114;&#114;&#97;&#98;&#121;&#116;&#101;&#46;&#101;&#99;&#111;">&#105;<!--ourteam@webmail-->&#110;&#102;&#111;&#64;&#116;&#101;<!--am@webma-->&#114;&#114;&#97;&#98;&#121;&#116;&#101;&#46;<!--@webmail.com-->&#101;&#99;&#111;</a>.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>