---
subtitle: Volunteer to get involved with our projects!
layout: layouts/project-base.njk
keywords: graphic design, environment, climate change, climate crisis, go green, ecology, conservation, carbon footprint, carbon, enviroaction, enviroart, ecoart, global warming, save the planet, plastic pollution, pixel planet, pixel planet today, pinekeepers, canapi, api, creative, nebraska, omaha, green tech, climate tech, education, edutainment, sustainability, sustainable, green technology, green solutions, eco-friendly, environmental technology, climate solutions, team, company, business, organization, volunteer, get involved
styles: /css/text-page-styles.css
navSelected: about
---

<section id="get-involved" class="padded-section">
  <div class="max-width" data-au="flex-container flex-vertical medium-gap">
    <div class="section-header">
      <h1>
        <span class="highlight-container">Get Involved</span>
      </h1>
    </div>
    
    <div class="section-content" data-au="flex-container flex-vertical small-gap">
      <p>We're so excited to see you here! As climate activists, conservationists, and other allies of Mother Nature - it's understandable that you want to make a difference but find it difficult to get started. Of course, there are large foundations and organizations like the World Wildlife Fund and the Rainforest Alliance who can easily put donations and dollars to work, but to actually work on creative environmental projects (like assist a small tech company like us 😉) is something else entirely.</p>

      <p>We have LOADS of creative ideas on how to save the planet, but nowhere near enough resources to make them all a reality. Frankly, even with our current projects, we have our hands full. Having more help in building out, maintaining, and providing content for these pieces of our overarching creative vision would be huge for our success.</p>
      
      <p>Are you a developer? Jump to our <a class="text-link" href="https://github.com/terrabyte-tech" target="_blank" aria-label="Terrabyte on GitHub (opens in new window)">GitHub</a> to make contributions to our open-source projects.</p>
    </div>
  </div>
</section>

<section id="paid-opportunities" class="padded-section">
  <div class="max-width" data-au="flex-container flex-vertical medium-gap">
    <div class="section-header">
      <h2>
        <span class="highlight-container">Paid Positions</span>
      </h2>
    </div>
    <div class="section-content" data-au="flex-container flex-vertical small-gap">
        <p>There are no open positions at this time. In the meantime, we'd love to have you <a class="text-link" href="#volunteer-opportunities">volunteer</a> with us!</p>
    </div>
  </div>
</section>

<section id="volunteer-opportunities" class="padded-section">
  <div class="max-width" data-au="flex-container flex-vertical medium-gap">
    <div class="section-header">
      <h2>
        <span class="highlight-container">Volunteer Opportunities</span>
      </h2>
    </div>
    <div class="section-content" data-au="flex-container flex-vertical medium-gap">
      <p>To be clear: this is only a small list of possible opportunities. Being creative people ourselves, we would love to hear your creative ideas on how you could help - even if it is not listed below.</p>
      <div class="subsection-col-container" data-au="flex-container large-gap">
        <div class="subsection subsection-col" data-au="flex-width flex-container flex-vertical small-gap">
          <h3 class="subsection-header">
            <span class="highlight-container">Volunteer</span>
          </h3>
          <div class="subsection-content">
            <ul>
              <li>Social Media Management</li>
              <li>Marketing</li>
              <li>Game Design</li>
              <li>Sound Design & Music Composition</li>
              <li>Animation</li>
              <li>Environmental News and Current Events Curation</li>
            </ul>
          </div>
        </div>
        <div class="subsection subsection-col" data-au="flex-width flex-container flex-vertical small-gap">
          <h3 class="subsection-header">
            <span class="highlight-container">Collaboration</span>
          </h3>
          <div class="subsection-content">
            <ul>
              <li>Research, Writing, and Editing (Pixel Planet Today posts)</li>
              <li>Writing and Editing (Guest blog posts)</li>
              <li>Pixel Art Design (though limited opportunities)</li>
              <li>Sponsored Posts</li>
            </ul>
          </div>
        </div>
        <div class="subsection subsection-col" data-au="flex-width flex-container flex-vertical small-gap">
          <h3 class="subsection-header">
            <span class="highlight-container">Donation</span>
          </h3>
          <div class="subsection-content">
            <ul>
              <li>Got a little overwhelmed? You can directly <a class="text-link" href="../donate">donate</a> to what we do, too.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="subsection" data-au="flex-container flex-vertical small-gap">
        <p>See something that speaks to you, or have another idea on how you can help? Please contact us at <a class="text-link" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#116;&#101;&#114;&#114;&#97;&#98;&#121;&#116;&#101;&#46;&#101;&#99;&#111;">&#105;<!--ourteam@webmail-->&#110;&#102;&#111;&#64;&#116;&#101;<!--am@webma-->&#114;&#114;&#97;&#98;&#121;&#116;&#101;&#46;<!--@webmail.com-->&#101;&#99;&#111;</a> or through our various social channels and let us know a little bit more about you. We'd love to find a perfect fit for you in our ecosystem. ❤️🌎</p>
      </div>
    </div>
  </div>
</section>

<section id="dei" class="padded-section">
  <div class="max-width" data-au="flex-container flex-vertical medium-gap">
    <div class="section-header">
      <h2>
        <span class="highlight-container rainbow">Diversity, Equity, and Inclusion</span>
      </h2>
    </div>
    
    <div class="section-content" data-au="flex-container flex-vertical small-gap">
      <p>Being anything other than a white, straight, cis male in a world tailored to white, straight, cis men can be difficult. And since our natural world is built on diversity, it's a no-brainer for us to support diversity found in our own species. <a class="text-link" href="/about-us/#the-team">Our squad</a> is made up of a wide array of individuals - we'd be proud to welcome even more unique talent to our team.</p>
      <p>We base all hiring decisions on who is the best fit for the role, our company, and our team. A position may include required qualifications, but if the best candidate doesn't meet these requirements (education, experience, etc.), we may consider other factors.</p>
      <p>Since "equality" is now a hot-button topic, before filing a complaint about our DEI policy, please refer to <a class="text-link" href="https://thediversitymovement.com/10-most-common-objections-dei-how-to-respond/" target="_blank" aria-label="10 most common objections to DEI (opens in new window)">this doc</a>. If you would still like to file a complaint about this policy, you may email us using the link on our website's <a class="text-link" href="/#contact">homepage</a>.</p>
    </div>
  </div>
</section>