---
subtitle: Making environmentalism approachable, accessible, and actionable.
layout: layouts/project-base.njk
keywords: graphic design, environment, climate change, climate crisis, go green, ecology, conservation, carbon footprint, carbon, enviroaction, enviroart, ecoart, global warming, save the planet, plastic pollution, pixel planet, pixel planet today, pinekeepers, canapi, api, creative, nebraska, omaha, green tech, climate tech, education, edutainment, sustainability, sustainable, green technology, green solutions, eco-friendly, environmental technology, climate solutions
styles: /css/home-styles.css
navSelected: home
---

<section id="hero" class="padded-section full-section" data-au="flex-container flex-vertical">
  <div class="section-col-container max-width" data-au="flex-width flex-container align-center medium-gap">
    <div class="illustration-col section-col" data-au="flex-width flex-container all-center" role="presentation">
      <div class="hero-code-container" data-au="text-center">
        <!-- we are -->
        <p class="code-text hide-on-mobile" role="img" aria-label="decorative binary code (1's and 0's)">01110111 01100101 00100000 01100001 01110010 01100101</p>
        <!-- saving the planet byte by byte -->
        <p class="code-text" role="img" aria-label="binary code (1's and 0's)">
          <span class="hide-on-mobile">01110011 01100001 01110110 01101001 01101110 01100111 00100000 01110100 01101000 01100101 00100000 01110000 01101100 01100001 01101110 01100101 01110100 00100000 </span>01100010 01111001 01110100 01100101 00100000 01100010 01111001 00100000 01100010 01111001 01110100 01100101</p>
        <!-- u in?! -->
        <p class="code-text hide-on-mobile" role="img" aria-label="binary code (1's and 0's)">01110101 00100000 01101001 01101110 00111111 00100001</p>
      </div>
      <div class="a-mountain-logo" data-au="set-width">
        <svg viewBox="0 0 1000 1000" role="presentation">
          <use href="#a-mountain-logo"/>
        </svg>
      </div>
    </div>
    <div class="text-col section-col" data-au="set-width">
      <h1>environmentalism<br><span class="highlight-container">for everyone</span></h1>
      <p>The environment isn't just for fact freaks like us. It's for nerds and normies alike. Through education, entertainment, and software tools &mdash; we're doing just that.</p>
      <div class="button-container" data-au="flex-container align-center small-gap mobile-flex-wrap">
        <a href="#projects" class="primary button">Projects</a>
        <a href="#problem" class="button shadow">About us</a>
      </div>
    </div>
  </div>
</section>

<section id="projects" class="padded-section" data-au="flex-container all-center">
  <div class="section-col-container max-width" data-au="flex-container xsmall-gap">
    <!-- pixel planet today --> 
    <a id="pixel-planet-today-card" class="section-col project-card" data-au="flex-width flex-container flex-vertical justify-right small-gap" href="https://www.pixelplanettoday.com" target="_blank">
      <div class="col-img-container" data-au="flex-height">
        <div class="col-img" role="img" aria-label="Pixel Planet Today logo" data-au="set-height"></div>
      </div>
      <div class="col-content" data-au="set-height">
        <p>Social media snippets that pair facts about the planet with pixel art designs.</p>
      </div>
    </a>
    <!-- wasted space -->
    <a id="wasted-space-card" class="section-col project-card" data-au="flex-width flex-container flex-vertical small-gap" href="https://www.wastedspace.fun" target="_blank">
      <div class="col-img-container" data-au="flex-height">
        <div class="col-img" role="img" aria-label="Wasted Space logo" data-au="set-height"></div>
      </div>
      <div class="col-content" data-au="set-height">
        <p>A classic-arcade game that drives home the concepts of reusing and recycling.</p>
      </div>
    </a>
    <!-- pinekeepers -->
    <a id="pinekeepers-card" class="section-col project-card" data-au="flex-width flex-container flex-vertical small-gap" href="https://www.pinekeepers.com" target="_blank">
      <div class="col-img-container" data-au="flex-height">
        <div class="col-img" role="img" aria-label="Pinekeepers logo" data-au="set-height"></div>
      </div>
      <div class="col-content" data-au="set-height">
        <p>A retro-inspired game that turns trees saved in the digital world into real-life saplings.</p>
      </div>
    </a>
    <!-- canapi -->
    <a id="canapi-card" class="section-col project-card" data-au="flex-width flex-container flex-vertical small-gap" href="https://www.canapi.io" target="_blank">
      <div class="col-img-container" data-au="flex-height">
        <div class="col-img" role="img" aria-label="Canapi logo" data-au="set-height"></div>
      </div>
      <div class="col-content" data-au="set-height">
        <p>Automation software (marketplace &amp; API) that turns digital interactions into environmental contributions.</p>
      </div>
    </a>
  </div>
</section>

<section id="problem" class="padded-section" data-au="flex-container all-center">
  <div data-au="flex-container flex-vertical">
    <div class="section-col-container max-width" data-au="flex-container medium-gap">
      <div class="section-col" data-au="flex-width flex-container flex-vertical small-gap">
        <h2 class="section-col-title">
          Conservation isn't just for experts, <span class="highlight-container">it's for you.</span></h2>
        <div class="col-content" data-au="flex-container flex-vertical small-gap">
          <p>We get it &mdash; the environment is a big, scary topic. There's industry jargon, political stances, and proposed solutions that are too complex for the everyday person to fully understand.</p>
          <p>But the fact of the matter is, the environment is everything, including each of us. You don't have to understand how the <a class="text-link" href="https://outdoornebraska.gov/learn/nebraska-wildlife/nebraska-plants/colorado-butterfly-plant/" target="_blank">Colorado butterfly plant</a> requires ultra-specific conditions to thrive; or even the inner-workings of why climate change is one of the <a class="text-link" href="https://www.un.org/en/global-issues/climate-change" target="_blank">biggest problems</a> humanity faces  - you only need a little curiosity, empathy, and recognition of interconnectedness. That's where we come in.</p>
        </div>
      </div>
      <div class="section-col" data-au="flex-width flex-container align-center xsmall-gap mobile-flex-wrapx">
        {# general tiles of what we do to make it more approachable i.e. games, illustration things, software #}
        <div class="category-col" data-au="flex-width flex-container flex-vertical align-center">
          <div id="ufo-icon" class="icon-container" data-au="set-width">
            <svg viewBox="0 0 256 256" role="presentation">
              <use href="#ufo-icon"/>
            </svg>
          </div>
          <h3>Games</h3>
          {# <p class="subtext">Whether its arcade, puzzle, or role-playing games, interactive means are a great way to reinforce core environmental concepts.</p> #}
        </div>
        <div class="category-col" data-au="flex-width flex-container flex-vertical align-center">
          <div id="scribble-icon" class="icon-container" data-au="set-width">
            <svg viewBox="0 0 256 256" role="presentation">
              <use href="#scribble-icon"/>
            </svg>
          </div>
          <h3>Graphics</h3>
          {# <p class="subtext">Resources, merch, and other visual media are great ways to make complex topics more digestible.</p> #}
        </div>
        <div class="category-col" data-au="flex-width flex-container flex-vertical align-center">
          <div id="robot-icon" class="icon-container" data-au="set-width">
            <svg viewBox="0 0 256 256" role="presentation">
              <use href="#robot-icon"/>
            </svg>
          </div>
          <h3>Software</h3>
          {# <p class="subtext">Software that turns interest into action is what we're all about. We don't just want to inform, we want to empower.</p> #}
        </div>
      </div>
    </div>
    {# <div class="button-container" data-au="set-width all-center flex-container">
      <a class="button shadow" href="#about-us">How we work</a>
    </div> #}
  </div>
</section>

<section id="about-us" class="padded-section" data-au="flex-container all-center">
  <div data-au="flex-container flex-vertical">
    <div class="section-col-container max-width" data-au="flex-container align-center medium-gap">
      <!-- venn diagram col -->
      <div class="section-col hide-on-tablet hide-on-mobile" data-au="flex-width flex-container all-center">
        <div class="venn-container" data-au="set-width" role="presentation">
          <div id="venn-circle-1" class="venn-circle"></div>
          <div id="venn-circle-2" class="venn-circle"></div>
          <div id="venn-circle-3" class="venn-circle"></div>

          <div id="venn-guide-circle" class="venn-circle" data-au="flex-container all-center">
            <!-- <div class="venn-logo">
              <svg viewBox="0 0 1000 1000">
                <use href="#a-mountain-logo"/>
              </svg>
            </div> -->
          </div>
        </div>
      </div>
      <!-- venn text col -->
      <div class="section-col" data-au="flex-width flex-container flex-vertical small-gap">
        <h2 class="section-col-title">
          "Where <span class="highlight-container">technology,</span> <span class="highlight-container">design,</span> and <span class="highlight-container">environmentalism</span> combine &mdash; we thrive."</span>
        </h2>
        <div class="col-content">
          <p>Terrabyte is a green tech company combining creativity and technology to make environmentalism approachable, accessible, and actionable. Our team is made up of passionate people that not only want to change the world for the better, but find creative ways to do so. We don't build carbon vacuums, microplastic filters, or even biodegradable cutlery &mdash; but we do develop projects for the digital world that create change in the real one.</p>
        </div>
        <div class="col-footer">
          <a class="text-link ext-link" href="/about-us">Learn more about us</a>
        </div>
      </div>
      
    </div>
    {# <div class="button-container" data-au="set-width all-center flex-container">
      <a href="#contact" class="button shadow">Get in touch</a>
    </div> #}
  </div>
</section>

<section id="social-proof" class="padded-section full-section" data-au="flex-container flex-vertical justify-center xlarge-gap">
  <div class="social-proof-section" data-au="flex-container flex-vertical medium-gap">
    <h3 class="section-col-title" data-au="text-center">Our Partners:</h3>

    <div class="social-proof-col-container section-col-container max-width" data-au="flex-container all-center medium-gap">
      <div class="social-proof-col section-col" data-au="set-width">
        <a id="carbonii-img" class="partner-img" role="img" data-au="set-height" href="https://www.carbonii.com" target="_blank" aria-label="Carbonii website (opens in new window)"></a>
      </div>

      <div class="social-proof-col section-col" data-au="set-width">
        <a id="goc-img" class="partner-img" role="img" data-au="set-height" href="https://www.greenomaha.org" target="_blank" aria-label="Green Omaha Coalition website (opens in new window)"></a>
      </div>

      <div class="social-proof-col section-col" data-au="set-width">
        <a id="wrd-img" class="partner-img" role="img" data-au="set-height" href="https://www.worldrainforestday.org/" target="_blank" aria-label="World Rainforest Day website (opens in new window)"></a>
      </div>
    </div>
  </div>
  
  <div class="social-proof-section" data-au="flex-container flex-vertical medium-gap">
    <h4 class="section-col-title" data-au="text-center">Some of the other wonderful people we've worked with:</h4>

    <div class="social-proof-col-container section-col-container max-width" data-au="flex-container all-center medium-gap">
      <div class="social-proof-col section-col" data-au="set-width">
        <a id="tbep-img" class="social-proof-img" role="img" data-au="set-height" href="https://www.tbep.org" target="_blank" aria-label="Tampa Bay Estuary Project website (opens in new window)"></a>
      </div>
      
      <div class="social-proof-col section-col" data-au="set-width">
        <a id="the-climate-issue-img" class="social-proof-img" role="img" data-au="set-height" href="https://www.theclimateissue.com" target="_blank" aria-label="The Climate Issue website (opens in new window)"></a>
      </div>
      <div class="social-proof-col section-col" data-au="set-width">
        <a id="ecta-img" class="social-proof-img" role="img" data-au="set-height" href="https://usaniivillageafrica.org" target="_blank" aria-label="ECTA Global website (opens in new window)"></a>
      </div>
      <div class="social-proof-col section-col" data-au="set-width">
        <a id="eco-earth-market-img" class="social-proof-img" role="img" data-au="set-height" href="https://www.ecoearthmarket.com" target="_blank" aria-label="Eco Earth Market website (opens in new window)"></a>
      </div>
      <div class="social-proof-col section-col" data-au="set-width">
        <a id="pfj-img" class="social-proof-img" role="img" data-au="set-height" href="https://www.plasticfreejuly.org" target="_blank" aria-label="Plastic Free July website (opens in new window)"></a>
      </div>
      <div class="social-proof-col section-col" data-au="set-width">
        <a id="earth-hacks-img" class="social-proof-img" role="img" data-au="set-height" href="https://www.earthhacks.io" target="_blank" aria-label="Earth Hacks website (opens in new window)"></a>
      </div>
      <div class="social-proof-col section-col" data-au="set-width">
        <a id="skillsusa-neb-img" class="social-proof-img" role="img" data-au="set-height" href="https://skillsusanebraska.org/" target="_blank" aria-label="SkillsUSA Nebraska website (opens in new window)"></a>
      </div>

      <!-- <div class="social-proof-col section-col set-width">
        <a id="wherefrom-img" class="social-proof-img set-height" href="https://www.wherefrom.org" target="_blank"></a>
      </div> -->
      <!-- <div class="social-proof-col section-col set-width">
        <a id="humans-for-earth-img" class="social-proof-img set-height" href="https://humansforearth.weebly.com/" target="_blank"></a>
      </div> -->
      <div class="social-proof-col section-col" data-au="set-width">
        <a id="pixel-art-mag-img" class="social-proof-img" role="img" data-au="set-height" href="https://www.instagram.com/pixelartmag" target="_blank" aria-label="Pixel Art Mag Instagram page (opens in new window)"></a>
      </div>
    </div>
  </div>
</section>

{% include "partials/contact-section.njk" %}