---
permalink: robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Disallow:
{%- for page in collections.all -%}
{%- if page.url and page.data.noIndex %}
Disallow: {{ page.url }}
{%- endif -%}
{%- endfor %}
Sitemap: {{ site.url }}/sitemap.xml
