<!DOCTYPE html>
<html lang="en">
<head>

{% include "partials/inspector-splash.njk" %}

<!--------->
<!-- metadata -->
<!--------->

<!-- site data now usable to DOM -->
  <script>
    window.siteData = {{ site | dump | safe }};
  </script>

  <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">

  {# redirect URL should be included in page frontmatter #}
  {# rework this to include a /?rel= value from the referring URL #}
  <meta http-equiv="Refresh" content="0; url={{ redirectUrl }}">


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ site.title }}{% if subtitle %}: {{ subtitle }}{% endif %}</title>

  <meta name="description" content="{% if subdescription %}{{ subdescription }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="{{ site.author }}">
  <meta name="keywords" content="{{ keywords }}">

  {# if applicable/desired (default: TB green) #}
  <meta name="theme-color" content="{{ site.accentColor | default('#0A8C61') }}">

  {# Open Graph meta tags for social media sharing #}

  {# Open Graph meta tags #}
  <meta property="og:title" content="{{ site.title }}{% if subtitle %}: {{ subtitle }}{% endif %}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:description" content="{% if subdescription %}{{ subdescription }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:image" content="img/meta/og-image.png">

  {# favicons #}
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">

  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  {# no css... #}

  {# minimal js... #}
  {% include "partials/load-transition.njk" %}

<!--------->
<!-- analytics & APIs -->
<!--------->

  <!-- microanalytics -->
  <script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>

  <!-- canapi -->
  {% if site.canapiKey %}
    <script type="text/javascript" data-canapi-init data-host="https://app.canapi.io" src="https://app.canapi.io/canapi.js" defer></script>
  {% endif %}


</head>
<body>
  <!-- blank -->
</body>
</html>