@charset "utf-8";
/* CSS Document */



.container{
display:flex;
align-items:center;
justify-content:center;
}

.img{
max width:15%;
}

.logo-text{
    font-size: 60px;
    margin-left:20px;
	font-family:"papyrus";
}

.banner{
	width: 75%%;
	height: 75%;
}

h2{
	text-align:center;
	font-weight: bold;
	text-decoration:underline;
}

.socials{
	width:"96";
	heighta:"96";
}

.menus{
	width="575" height="750"
}

.gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows:repeat (auto,auto);
	gap :10px;
}

.img-gallery{
width:100%;
height:auto;
}

.mission-statement{
	
	padding: 20px;
	margin:0 auto;
	max-width:800px;
	font-size: 20px;
}

.links{
	border:1 px;
}

.phone-img{
max-width:15%;
}

.number{
    margin-left:15px;
	font-size: 20px;
	font-weight:bold;
}

.fcontainer{
display:flex;
align-items:center;

}

.borders{
	border-style: solid;
	border-width: 5px;
	font-size: 30px;
	font-family:"Times New Roman";
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right:10px;
	padding-top:10px;
	margin: -2px;
	font-color: #c7934e;
}

