{% extends "partials/banners.njk" %}

{% block additional %}
  <div id="cookie-banner" class="banner bottom" role="dialog" aria-label="Cookie and data storage preferences" aria-modal="false">
    <div class="max-width banner-content" data-au="flex-container align-center medium-gap">
      <p>Being a responsible company doesn't end with being environmentally conscious. We limit the amount and types of cookies and similar technologies our site uses, but we still rely on them to provide stellar web experiences. <a class="text-link" href="/legal/cookie-policy">Learn More</a></p>
      <div class="" data-au="set-width flex-container align-center xsmall-gap">
        <button class="shadow" data-cookie-button="accept-min">Essential Only</button>
        <button class="" data-cookie-button="accept-all">Accept All</button>
      </div>
    </div>
  </div>
{% endblock %}
