<div class="padded-section" data-au="" aria-label="Social links">
  <div class="max-width" data-au="flex-width flex-container justify-center mobile-flex-wrap medium-gap">
    <a class="top-social icon-container" href="https://instagram.com/terrabyte_tech" target="_blank" aria-label="Terrabyte on Instagram (opens in new window)">
      <div class="icon">
        <svg viewBox="0 0 50 50" role="presentation">
          <use href="#instagram-icon"/>
        </svg>
      </div>
    </a>
    <a rel="me" href="https://mastodon.eco/@terrabyte" class="top-social icon-container" target="_blank" aria-label="Terrabyte on Mastodon (opens in new window)">
      <div class="icon">
        <svg viewBox="0 0 50 50" role="presentation">
          <use href="#mastodon-icon"/>
        </svg>
      </div>
    </a>
    <a class="top-social icon-container" href="https://github.com/terrabyte-tech" target="_blank" aria-label="Terrabyte on GitHub (opens in new window)">
      <div class="icon">
        <svg viewBox="0 0 50 50" role="presentation">
          <use href="#github-icon"/>
        </svg>
      </div>
    </a>
    <a class="top-social icon-container" href="https://app.wedonthavetime.org/profile/Terrabyte" target="_blank" aria-label="Terrabyte on We Don't Have Time (opens in new window)">
      <div class="icon">
        <svg viewBox="0 0 50 50" role="presentation">
          <use href="#wdht-icon"/>
        </svg>
      </div>
    </a>
    <a class="top-social icon-container" href="https://www.linkedin.com/company/terrabyte-tech/" target="_blank" aria-label="Terrabyte on LinkedIn (opens in new window)">
      <div class="icon">
        <svg viewBox="0 0 50 50" role="presentation">
          <use href="#linkedin-icon"/>
        </svg>
      </div>
    </a>
    <a class="top-social icon-container" href="https://www.youtube.com/@TerrabyteEco" target="_blank" aria-label="Terrabyte on YouTube (opens in new window)">
      <div class="icon">
        <svg viewBox="0 0 50 50" role="presentation">
          <use href="#youtube-icon"/>
        </svg>
      </div>
    </a>
  </div>
</div>