---
subtitle: Our projects
subdescription: The Terrabyte project roster is more than games, software tools, and pixel art - it's proof that environmental education can be more than boring facts and stats.
layout: layouts/project-base.njk
keywords: projects, games, 
navSelected: projects
---

<section id="hero" class="hero-section">
  {# needed on this page? #}
</section>

<section id="projects">
  {# some kind of filtering (in the future when there are a lot of projects shown here) #}

  {# repeat over projects.json to make links to showcase each project as it's own landing page #}
</section>